{% extends "layout.html" %}

{% block pageTitle %}
  Cabinet Office Spend Controls
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}

<!-- main -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

		<h1 class="govuk-heading-xl">
			Submit a pipeline for spend assurance
		</h1>
	</div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

		<p>
			Central government organisations, including departments and the bodies they sponsor, 
			must obtain Cabinet Office approval when they want to spend money on specified 
			activities.
		</p>

		<h2 class="govuk-heading-m">Who is this service for?</h2>
		<p>
			This service is for Departments to submit their pipeline of planned activities 
			to Cabinet Office to gain the necessary approval to spend this money.
		</p>

		<p>
			You will be asked a number of questions relating to your spend. These 
			questions will be dependent on the type of control you select.
		</p>

		<p>
			This service currently supports the Digital & Technology, and Commercial 
			assurance process. If you require assurance for spend in other areas, please 
			see <a href="https://www.gov.uk/government/collections/cabinet-office-controls">Cabinet Office controls</a>.
		</p>
		
		<p>
			Email <a href="mailto:cabinetofficecontrols@cabinetoffice.gov.uk">cabinetofficecontrols@cabinetoffice.gov.uk</a>
			for general questions about the spend controls process and policy.
		</p>
		
		<h2 class="govuk-heading-m">Things to consider</h2>
		<p>
			You will need to provide details regarding your spend, such as a description of 
			the spend, the type of spend, anticipated value of the spend and the anticipated 
			end date.
		</p>

		<p>
			You are not required to complete all of this information in one go 
			and can add further information as and when available.
		</p>


		<a href="0-1-about-you" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
			Start now
		<svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
		  <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
		</svg>
		</a>

		<h2 class="govuk-heading-m">Tech code of practice questions</h2>
		<p>
			The technology code of practice (TCoP) is a cross-government agreed 
			standard used for the Cabinet Office spend control process and the 
			Local Digital Declaration.
		</p>
		
		<p>
			You should use the TCoP for all of your technology projects or programmes. 
			Consider each point, align your project or programme with the mandatory points, 
			and follow as many of the remaining points as is practical. You’ll get the 
			most benefit by aligning your organisation’s technology and business 
			strategies to the Technology Code of Practice.

		<h2 class="govuk-heading-m">Specific sections</h2>
		
		<ol class="govuk-list govuk-list--number">
			<li>
				<a href="https://www.gov.uk/guidance/define-user-needs">
					Define user needs
				</a>
			</li>
			<li>
				<a href="https://www.gov.uk/guidance/make-things-accessible">
					Make things accessible and inclusive
				</a>
			</li>
			<li>
				<a href="https://www.gov.uk/guidance/be-open-and-use-open-source">
					Be open and use open source
				</a>
			</li>
			<li>
				<a href="https://www.gov.uk/guidance/make-use-of-open-standards">
					Make use of open standards
				</a>
			</li>
			<li>
				<a href="https://www.gov.uk/guidance/use-cloud-first">
					Use cloud first
				</a>
			</li>
			<li>
				<a href="https://www.gov.uk/guidance/make-things-secure">
					Make things secure
				</a>
			</li>
			<li>
				<a href="https://www.gov.uk/guidance/make-privacy-integral">
					Make privacy integral
				</a>
			</li>
			<li>
				<a href="https://www.gov.uk/guidance/integrate-and-adapt-technology">
					Share, reuse and collaborate
				</a>
			</li>
			<li>
				<a href="https://www.gov.uk/guidance/integrate-and-adapt-technology">
					Integrate and adapt technology
				</a>
			</li>
			<li>
				<a href="https://www.gov.uk/guidance/make-better-use-of-data">
					Make better use of data
				</a>
			</li>
			<li>
				<a href="https://www.gov.uk/guidance/define-your-purchasing-strategy">
					Define your purchasing strategy
				</a>
			</li>
			<li>
				<a href="https://www.gov.uk/guidance/make-your-technology-sustainable">
					Make your technology sustainable
				</a>
			</li>
			<li>
				<a href="https://www.gov.uk/service-manual/service-standard">
					Meet the Service Standard
				</a>
			</li>
		</ol>
		
		<p>
			For more information, read the guidance on defining user needs on GOV.UK.
		</p>


    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
				<a href="https://www.gov.uk/government/collections/cabinet-office-controls">
					Cabinet Office controls
				</a>
            </li>
            <li>
				<a href="https://www.gov.uk/government/publications/cabinet-office-controls-version-6">
					Spend controls version 6
				</a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

{% endblock %}