
{% extends "layout.html" %}

{% block pageTitle %}
  Cabinet Office Spend Controls
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/topMenuCOCases.html" %}
{% endblock %}

{% block content %}

<!-- main -->
<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		<span class="govuk-caption-xl">Tyronne Fisher</span>
		<span class="govuk-caption-m">Senior Technology Adviser, Digital & Technology Control</span>
		<br />
		<h1 class="govuk-heading-xl">
			Cases
		</h1>
	</div>

	<div class="govuk-grid-column-full">
		<div class="govuk-grid-row">

			<!-- Number of cases -->
			<div class="govuk-grid-row">
				<div class="govuk-grid-column-one-quarter">
					<h2 class="govuk-heading-s">
						Awaiting conditions application decisions
					</h2>
				</div>
				<div class="govuk-grid-column-one-quarter">
					<h2 class="govuk-heading-s">
						Conditions scheduled to be reviewed this week / month
					</h2>
				</div>
				<div class="govuk-grid-column-one-quarter">
					<h2 class="govuk-heading-s">
						Condition responses awaiting review
					</h2>
				</div>
				<div class="govuk-grid-column-one-quarter">
					<h2 class="govuk-heading-s">
						Unmet conditions
					</h2>
				</div>
			</div>
			<div class="govuk-grid-row">
				<div class="govuk-grid-column-one-quarter">
					<p class="govuk-body-l" style="background-color: #f3f2f1; padding-left: 20px; border-left: solid 4px #00703c; padding-top: 10px; padding-bottom: 10px;">
						14
					</p>

				</div>
				<div class="govuk-grid-column-one-quarter">
					<p class="govuk-body-l" style="background-color: #f3f2f1; padding-left: 20px; border-left: solid 4px #d4351c; padding-top: 10px; padding-bottom: 10px;">
						32
					</p>
				
				</div>
				<div class="govuk-grid-column-one-quarter">
					<p class="govuk-body-l" style="background-color: #f3f2f1; padding-left: 20px; border-left: solid 4px #912b88; padding-top: 10px; padding-bottom: 10px;">
						14
					</p>
				
				</div>
				<div class="govuk-grid-column-one-quarter">
					<p class="govuk-body-l" style="background-color: #f3f2f1; padding-left: 20px; border-left: solid 4px #ffdd00; padding-top: 10px; padding-bottom: 10px;">
						14
					</p>
				
				</div>
			</div>
		</div>

		<div class="govuk-grid-row">

			<!-- Search box and filters -->
			<div class="govuk-grid-column-one-quarter-from-desktop">
				<div class="govuk-form-group">
					<input class="govuk-input" id="event-name" name="event-name" type="text">
				</div>
				<!-- filters go here -->
				<div class="govuk-form-group">
					<h2 class="govuk-heading-s">
						Department
					</h2>
					<div class="govuk-form-group">
						<fieldset class="govuk-fieldset">
						<div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
							<div class="govuk-checkboxes__item">
								<input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
								<label class="govuk-label govuk-checkboxes__label" for="organisation">
									BEIS
								</label>
							</div>
							<div class="govuk-checkboxes__item">
								<input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
								<label class="govuk-label govuk-checkboxes__label" for="organisation">
									Cabinet Office
								</label>
							</div>
							<div class="govuk-checkboxes__item">
								<input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
								<label class="govuk-label govuk-checkboxes__label" for="organisation">
									Department for International Trade
								</label>
							</div>
							<div class="govuk-checkboxes__item">
								<input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
								<label class="govuk-label govuk-checkboxes__label" for="organisation">
									Department for Transport
								</label>
							</div>
							<div class="govuk-checkboxes__item">
								<input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
								<label class="govuk-label govuk-checkboxes__label" for="organisation">
									Home Office
								</label>
							</div>
							<div class="govuk-checkboxes__item">
								<input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
								<label class="govuk-label govuk-checkboxes__label" for="organisation">
									Ministry of Defence
								</label>
							</div>
							<div class="govuk-checkboxes__item">
								<input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
								<label class="govuk-label govuk-checkboxes__label" for="organisation">
									Ministry of Justice
								</label>
							</div>
						</div>
					</div>
				</div>
				
				<div class="govuk-form-group">
					<h2 class="govuk-heading-s">
						Spend type
					</h2>
					<div class="govuk-form-group">
						<fieldset class="govuk-fieldset">
						<div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
							<div class="govuk-checkboxes__item">
								<input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
								<label class="govuk-label govuk-checkboxes__label" for="organisation">
									Advertising
								</label>
							</div>
							<div class="govuk-checkboxes__item">
								<input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
								<label class="govuk-label govuk-checkboxes__label" for="organisation">
									Commercial
								</label>
							</div>
							<div class="govuk-checkboxes__item">
								<input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
								<label class="govuk-label govuk-checkboxes__label" for="organisation">
									Consultancy
								</label>
							</div>
							<div class="govuk-checkboxes__item">
								<input class="govuk-checkboxes__input" id="organisation" name="organisation" 
										type="checkbox" value="hmrc" checked>
								<label class="govuk-label govuk-checkboxes__label" for="organisation">
									Digital and technology
								</label>
							</div>
							<div class="govuk-checkboxes__item">
								<input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
								<label class="govuk-label govuk-checkboxes__label" for="organisation">
									Property
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Sort by dropdown and table content-->
			<div class="govuk-grid-column-three-quarters-from-desktop" style="float: right;">
				<h2 class="govuk-heading-m">
					27 cases
				</h2>
				<div class="govuk-form-group">
					<p>
						Sort by 
						<select class="govuk-select" id="sort" name="sort">
							<option value="relevance" selected>Relevance</option>
							<option value="title">Title</option>
							<option value="case-reference">Case reference</option>
							<option value="value">Value</option>
							<option value="spend-type">Spend type</option>
							<option value="status">Status</option>
						</select>
					</p>
				</div>
				<!-- table goes here -->
				<table class="govuk-table govuk-!-font-size-14">
					<thead class="govuk-table__head">
						<tr class="govuk-table__row">
							<th scope="col" class="govuk-table__header"><!-- checkbox --></th>
							<th scope="col" class="govuk-table__header">Title</th>
							<th scope="col" class="govuk-table__header">Case reference</th>
							<th scope="col" class="govuk-table__header">Type</th>
							<th scope="col" class="govuk-table__header">Value</th>
							<th scope="col" class="govuk-table__header">Status</th>
						</tr>
					</thead>
					<tbody class="govuk-table__body">
						<tr class="govuk-table__row">
							<td class="govuk-table__cell">
								<div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
									<div class="govuk-checkboxes__item" style="margin-top: -10px; margin-right: -40px;">
										<input class="govuk-checkboxes__input" id="DigTech001" name="DigTech001" type="checkbox" value="DigTech001">
										<label class="govuk-label govuk-checkboxes__label" for="DigTech001">
											
										</label>
									</div>
								</div>
							</td>
							<td class="govuk-table__cell">
						<a href="getting-example-case">
							Cloud migration
						</a>
					</td>
					<td class="govuk-table__cell">2021/CO/72928</td>
					<td class="govuk-table__cell">Digital and Technology</td>
					<td class="govuk-table__cell">£500K</td>
					<td class="govuk-table__cell">Draft</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">
											<div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
							<div class="govuk-checkboxes__item" style="margin-top: -10px; margin-right: -40px;">
								<input class="govuk-checkboxes__input" id="DigTech001" name="DigTech001" type="checkbox" value="DigTech001">
								<label class="govuk-label govuk-checkboxes__label" for="DigTech001">
									
								</label>
							</div>
						</div>
					</td>
					<td class="govuk-table__cell">
						<a href="#">
							End user device refresh
						</a>
					</td>
					<td class="govuk-table__cell">2021/CO/28729</td>
					<td class="govuk-table__cell">Digital and Technology</td>
					<td class="govuk-table__cell">£750K</td>
					<td class="govuk-table__cell">Pending</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">
											<div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
							<div class="govuk-checkboxes__item" style="margin-top: -10px; margin-right: -40px;">
								<input class="govuk-checkboxes__input" id="DigTech001" name="DigTech001" type="checkbox" value="DigTech001">
								<label class="govuk-label govuk-checkboxes__label" for="DigTech001">
									
								</label>
							</div>
						</div>
					</td>
					<td class="govuk-table__cell">
						<a href="#">
							Spend controls platform alpha
						</a>
					</td>
					<td class="govuk-table__cell">2021/CO/47231</td>
					<td class="govuk-table__cell">Digital and Technology</td>
					<td class="govuk-table__cell">£450K</td>
					<td class="govuk-table__cell">
						<a href="dept-reply-conditions">
							Approved with conditions
						</a>
					</td>
						</tr>
						<tr class="govuk-table__row">
							<td class="govuk-table__cell">
								<div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
									<div class="govuk-checkboxes__item" style="margin-top: -10px; margin-right: -40px;">
										<input class="govuk-checkboxes__input" id="DigTech001" name="DigTech001" type="checkbox" value="DigTech001">
										<label class="govuk-label govuk-checkboxes__label" for="DigTech001">
											
										</label>
									</div>
								</div>
							</td>
							<td class="govuk-table__cell">
								<a href="getting-example-case">
									Digital Supplier Resourcing Control Case
								</a>
							</td>
							<td class="govuk-table__cell">2021/DfT/34214</td>
							<td class="govuk-table__cell">Digital and Technology</td>
							<td class="govuk-table__cell">£500K</td>
							<td class="govuk-table__cell">Draft</td>
						</tr>
						<tr class="govuk-table__row">
							<td class="govuk-table__cell">
													<div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
									<div class="govuk-checkboxes__item" style="margin-top: -10px; margin-right: -40px;">
										<input class="govuk-checkboxes__input" id="DigTech001" name="DigTech001" type="checkbox" value="DigTech001">
										<label class="govuk-label govuk-checkboxes__label" for="DigTech001">
											
										</label>
									</div>
								</div>
							</td>
							<td class="govuk-table__cell">
								<a href="#">
									Data Migration Programme
								</a>
							</td>
							<td class="govuk-table__cell">2021/DCMS/58324</td>
							<td class="govuk-table__cell">Digital and Technology</td>
							<td class="govuk-table__cell">£750K</td>
							<td class="govuk-table__cell">Pending</td>
						</tr>
						<tr class="govuk-table__row">
							<td class="govuk-table__cell">
													<div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
									<div class="govuk-checkboxes__item" style="margin-top: -10px; margin-right: -40px;">
										<input class="govuk-checkboxes__input" id="DigTech001" name="DigTech001" type="checkbox" value="DigTech001">
										<label class="govuk-label govuk-checkboxes__label" for="DigTech001">
											
										</label>
									</div>
								</div>
							</td>
							<td class="govuk-table__cell">
								<a href="#">
									Business Systems Transformation
								</a>
							</td>
							<td class="govuk-table__cell">2021/MoJ/96572</td>
							<td class="govuk-table__cell">Digital and Technology</td>
							<td class="govuk-table__cell">£450K</td>
							<td class="govuk-table__cell">Approved</td>
						</tr>
						<tr class="govuk-table__row">
							<td class="govuk-table__cell">
								<div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
									<div class="govuk-checkboxes__item" style="margin-top: -10px; margin-right: -40px;">
										<input class="govuk-checkboxes__input" id="DigTech001" name="DigTech001" type="checkbox" value="DigTech001">
										<label class="govuk-label govuk-checkboxes__label" for="DigTech001">
											
										</label>
									</div>
								</div>
							</td>
							<td class="govuk-table__cell">
								<a href="getting-example-case">
									Protect Connect
								</a>
							</td>
							<td class="govuk-table__cell">2021/MoJ/96572</td>
							<td class="govuk-table__cell">Digital and Technology</td>
							<td class="govuk-table__cell">£500K</td>
							<td class="govuk-table__cell">Draft</td>
						</tr>
						<tr class="govuk-table__row">
							<td class="govuk-table__cell">
													<div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
									<div class="govuk-checkboxes__item" style="margin-top: -10px; margin-right: -40px;">
										<input class="govuk-checkboxes__input" id="DigTech001" name="DigTech001" type="checkbox" value="DigTech001">
										<label class="govuk-label govuk-checkboxes__label" for="DigTech001">
											
										</label>
									</div>
								</div>
							</td>
							<td class="govuk-table__cell">
								<a href="#">
									NLEDP Mainframe extension
								</a>
							</td>
							<td class="govuk-table__cell">2021/MoD/96572</td>
							<td class="govuk-table__cell">Digital and Technology</td>
							<td class="govuk-table__cell">£750K</td>
							<td class="govuk-table__cell">Pending</td>
						</tr>
						<tr class="govuk-table__row">
							<td class="govuk-table__cell">
													<div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
									<div class="govuk-checkboxes__item" style="margin-top: -10px; margin-right: -40px;">
										<input class="govuk-checkboxes__input" id="DigTech001" name="DigTech001" type="checkbox" value="DigTech001">
										<label class="govuk-label govuk-checkboxes__label" for="DigTech001">
											
										</label>
									</div>
								</div>
							</td>
							<td class="govuk-table__cell">
								<a href="#">
									IBM Networks extension
								</a>
							</td>
							<td class="govuk-table__cell">2021/DIT/34508</td>
							<td class="govuk-table__cell">Digital and Technology</td>
							<td class="govuk-table__cell">£1.9M</td>
							<td class="govuk-table__cell">Approved</td>
						</tr>
						<tr class="govuk-table__row">
							<td class="govuk-table__cell">
								<div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
									<div class="govuk-checkboxes__item" style="margin-top: -10px; margin-right: -40px;">
										<input class="govuk-checkboxes__input" id="DigTech001" name="DigTech001" type="checkbox" value="DigTech001">
										<label class="govuk-label govuk-checkboxes__label" for="DigTech001">
											
										</label>
									</div>
								</div>
							</td>
							<td class="govuk-table__cell">
								<a href="getting-example-case">
									Tackling Loneliness Hub
								</a>
							</td>
							<td class="govuk-table__cell">2021/MoJ/42938</td>
							<td class="govuk-table__cell">Digital and Technology</td>
							<td class="govuk-table__cell">£125K</td>
							<td class="govuk-table__cell">Draft</td>
						</tr>
						<tr class="govuk-table__row">
							<td class="govuk-table__cell">
													<div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
									<div class="govuk-checkboxes__item" style="margin-top: -10px; margin-right: -40px;">
										<input class="govuk-checkboxes__input" id="DigTech001" name="DigTech001" type="checkbox" value="DigTech001">
										<label class="govuk-label govuk-checkboxes__label" for="DigTech001">
											
										</label>
									</div>
								</div>
							</td>
							<td class="govuk-table__cell">
								<a href="#">
									Vaccine Deployment Programme Technology Spend
								</a>
							</td>
							<td class="govuk-table__cell">2021/DHSC/73784</td>
							<td class="govuk-table__cell">Digital and Technology</td>
							<td class="govuk-table__cell">£5.1M</td>
							<td class="govuk-table__cell">Pending</td>
						</tr>
						<tr class="govuk-table__row">
							<td class="govuk-table__cell">
													<div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
									<div class="govuk-checkboxes__item" style="margin-top: -10px; margin-right: -40px;">
										<input class="govuk-checkboxes__input" id="DigTech001" name="DigTech001" type="checkbox" value="DigTech001">
										<label class="govuk-label govuk-checkboxes__label" for="DigTech001">
											
										</label>
									</div>
								</div>
							</td>
							<td class="govuk-table__cell">
								<a href="#">
									Appeal a planning decision - beta
								</a>
							</td>
							<td class="govuk-table__cell">2021/PINS/33974</td>
							<td class="govuk-table__cell">Digital and Technology</td>
							<td class="govuk-table__cell">£2.5M</td>
							<td class="govuk-table__cell">Approved</td>
						</tr>
						<tr class="govuk-table__row">
							<td class="govuk-table__cell">
								<div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
									<div class="govuk-checkboxes__item" style="margin-top: -10px; margin-right: -40px;">
										<input class="govuk-checkboxes__input" id="DigTech001" name="DigTech001" type="checkbox" value="DigTech001">
										<label class="govuk-label govuk-checkboxes__label" for="DigTech001">
											
										</label>
									</div>
								</div>
							</td>
							<td class="govuk-table__cell">
								<a href="getting-example-case">
									OGVA Compute contract with AWS
								</a>
							</td>
							<td class="govuk-table__cell">2021/DIT/11948</td>
							<td class="govuk-table__cell">Digital and Technology</td>
							<td class="govuk-table__cell">£3.2M</td>
							<td class="govuk-table__cell">Draft</td>
						</tr>
						<tr class="govuk-table__row">
							<td class="govuk-table__cell">
													<div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
									<div class="govuk-checkboxes__item" style="margin-top: -10px; margin-right: -40px;">
										<input class="govuk-checkboxes__input" id="DigTech001" name="DigTech001" type="checkbox" value="DigTech001">
										<label class="govuk-label govuk-checkboxes__label" for="DigTech001">
											
										</label>
									</div>
								</div>
							</td>
							<td class="govuk-table__cell">
								<a href="#">
									Special Imports - Discovery and Alpha
								</a>
							</td>
							<td class="govuk-table__cell">2021/FSA/71723</td>
							<td class="govuk-table__cell">Digital and Technology</td>
							<td class="govuk-table__cell">£220K</td>
							<td class="govuk-table__cell">Pending</td>
						</tr>
						<tr class="govuk-table__row">
							<td class="govuk-table__cell">
													<div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
									<div class="govuk-checkboxes__item" style="margin-top: -10px; margin-right: -40px;">
										<input class="govuk-checkboxes__input" id="DigTech001" name="DigTech001" type="checkbox" value="DigTech001">
										<label class="govuk-label govuk-checkboxes__label" for="DigTech001">
											
										</label>
									</div>
								</div>
							</td>
							<td class="govuk-table__cell">
								<a href="#">
									Law Enforcement Cloud Platform
								</a>
							</td>
							<td class="govuk-table__cell">2021/MoJ/48389</td>
							<td class="govuk-table__cell">Digital and Technology</td>
							<td class="govuk-table__cell">£1.4M</td>
							<td class="govuk-table__cell">Approved</td>
						</tr>
						<tr class="govuk-table__row">
							<td class="govuk-table__cell">
								<div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
									<div class="govuk-checkboxes__item" style="margin-top: -10px; margin-right: -40px;">
										<input class="govuk-checkboxes__input" id="DigTech001" name="DigTech001" type="checkbox" value="DigTech001">
										<label class="govuk-label govuk-checkboxes__label" for="DigTech001">
											
										</label>
									</div>
								</div>
							</td>
							<td class="govuk-table__cell">
								<a href="getting-example-case">
									System and Performance Testing Service
								</a>
							</td>
							<td class="govuk-table__cell">2021/HO/11191</td>
							<td class="govuk-table__cell">Digital and Technology</td>
							<td class="govuk-table__cell">£540K</td>
							<td class="govuk-table__cell">Draft</td>
						</tr>
						<tr class="govuk-table__row">
							<td class="govuk-table__cell">
													<div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
									<div class="govuk-checkboxes__item" style="margin-top: -10px; margin-right: -40px;">
										<input class="govuk-checkboxes__input" id="DigTech001" name="DigTech001" type="checkbox" value="DigTech001">
										<label class="govuk-label govuk-checkboxes__label" for="DigTech001">
											
										</label>
									</div>
								</div>
							</td>
							<td class="govuk-table__cell">
								<a href="#">
									Supercomputer FBC
								</a>
							</td>
							<td class="govuk-table__cell">2021/BEIS/92637</td>
							<td class="govuk-table__cell">Digital and Technology</td>
							<td class="govuk-table__cell">£10M</td>
							<td class="govuk-table__cell">Pending</td>
						</tr>
						<tr class="govuk-table__row">
							<td class="govuk-table__cell">
													<div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
									<div class="govuk-checkboxes__item" style="margin-top: -10px; margin-right: -40px;">
										<input class="govuk-checkboxes__input" id="DigTech001" name="DigTech001" type="checkbox" value="DigTech001">
										<label class="govuk-label govuk-checkboxes__label" for="DigTech001">
											
										</label>
									</div>
								</div>
							</td>
							<td class="govuk-table__cell">
								<a href="#">
									Police National Database extension
								</a>
							</td>
							<td class="govuk-table__cell">2021/HO/57632</td>
							<td class="govuk-table__cell">Digital and Technology</td>
							<td class="govuk-table__cell">£453K</td>
							<td class="govuk-table__cell">Approved</td>
						</tr>
						<tr class="govuk-table__row">
							<td class="govuk-table__cell">
								<div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
									<div class="govuk-checkboxes__item" style="margin-top: -10px; margin-right: -40px;">
										<input class="govuk-checkboxes__input" id="DigTech001" name="DigTech001" type="checkbox" value="DigTech001">
										<label class="govuk-label govuk-checkboxes__label" for="DigTech001">
											
										</label>
									</div>
								</div>
							</td>
							<td class="govuk-table__cell">
								<a href="getting-example-case">
									SIA service continuity
								</a>
							</td>
							<td class="govuk-table__cell">2021/NHS/27372</td>
							<td class="govuk-table__cell">Digital and Technology</td>
							<td class="govuk-table__cell">£500K</td>
							<td class="govuk-table__cell">Draft</td>
						</tr>
						<tr class="govuk-table__row">
							<td class="govuk-table__cell">
													<div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
									<div class="govuk-checkboxes__item" style="margin-top: -10px; margin-right: -40px;">
										<input class="govuk-checkboxes__input" id="DigTech001" name="DigTech001" type="checkbox" value="DigTech001">
										<label class="govuk-label govuk-checkboxes__label" for="DigTech001">
											
										</label>
									</div>
								</div>
							</td>
							<td class="govuk-table__cell">
								<a href="#">
									HMRC Fraud Case Management System (FIS)
								</a>
							</td>
							<td class="govuk-table__cell">2021/HMRC/57337</td>
							<td class="govuk-table__cell">Digital and Technology</td>
							<td class="govuk-table__cell">£2.5M</td>
							<td class="govuk-table__cell">Pending</td>
						</tr>
						<tr class="govuk-table__row">
							<td class="govuk-table__cell">
													<div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
									<div class="govuk-checkboxes__item" style="margin-top: -10px; margin-right: -40px;">
										<input class="govuk-checkboxes__input" id="DigTech001" name="DigTech001" type="checkbox" value="DigTech001">
										<label class="govuk-label govuk-checkboxes__label" for="DigTech001">
											
										</label>
									</div>
								</div>
							</td>
							<td class="govuk-table__cell">
								<a href="#">
									Regulated Products Regime
								</a>
							</td>
							<td class="govuk-table__cell">2021/FSA/22820</td>
							<td class="govuk-table__cell">Digital and Technology</td>
							<td class="govuk-table__cell">£450K</td>
							<td class="govuk-table__cell">Approved</td>
						</tr>
						<tr class="govuk-table__row">
							<td class="govuk-table__cell">
								<div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
									<div class="govuk-checkboxes__item" style="margin-top: -10px; margin-right: -40px;">
										<input class="govuk-checkboxes__input" id="DigTech001" name="DigTech001" type="checkbox" value="DigTech001">
										<label class="govuk-label govuk-checkboxes__label" for="DigTech001">
											
										</label>
									</div>
								</div>
							</td>
							<td class="govuk-table__cell">
								<a href="getting-example-case">
									Securing our Technical Future
								</a>
							</td>
							<td class="govuk-table__cell">2021/CO/22934</td>
							<td class="govuk-table__cell">Digital and Technology</td>
							<td class="govuk-table__cell">£500K</td>
							<td class="govuk-table__cell">Draft</td>
						</tr>
						<tr class="govuk-table__row">
							<td class="govuk-table__cell">
													<div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
									<div class="govuk-checkboxes__item" style="margin-top: -10px; margin-right: -40px;">
										<input class="govuk-checkboxes__input" id="DigTech001" name="DigTech001" type="checkbox" value="DigTech001">
										<label class="govuk-label govuk-checkboxes__label" for="DigTech001">
											
										</label>
									</div>
								</div>
							</td>
							<td class="govuk-table__cell">
								<a href="#">
									iPhone7 refresh - 15k devices
								</a>
							</td>
							<td class="govuk-table__cell">2021/HO/77329</td>
							<td class="govuk-table__cell">Digital and Technology</td>
							<td class="govuk-table__cell">£100K</td>
							<td class="govuk-table__cell">Pending</td>
						</tr>
						<tr class="govuk-table__row">
							<td class="govuk-table__cell">
													<div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
									<div class="govuk-checkboxes__item" style="margin-top: -10px; margin-right: -40px;">
										<input class="govuk-checkboxes__input" id="DigTech001" name="DigTech001" type="checkbox" value="DigTech001">
										<label class="govuk-label govuk-checkboxes__label" for="DigTech001">
											
										</label>
									</div>
								</div>
							</td>
							<td class="govuk-table__cell">
								<a href="#">
									Future of Child Benefit (HMRC)
								</a>
							</td>
							<td class="govuk-table__cell">2021/HMRC/29883</td>
							<td class="govuk-table__cell">Digital and Technology</td>
							<td class="govuk-table__cell">£450K</td>
							<td class="govuk-table__cell">Approved</td>
						</tr>
					</tbody>
				</table>

			</div>

		</div>
	</div>
</div>

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
	</div>




{% endblock %}
