{% extends "layout.html" %}

{% block pageTitle %}
  Cabinet Office Spend Controls
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}
<div class="govuk-width-container">
	<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds">
				<div class="govuk-panel govuk-panel--confirmation">
					<h1 class="govuk-panel__title">
						Case approved
					</h1>
					<div class="govuk-panel__body">
						The reference number						
						<br />
						<strong>
							HDJ2123F
						</strong>
					</div>
				</div>
				<p class="govuk-body">
					You have formally approved the spend for this case.
				</p>
				<h2 class="govuk-heading-m">
					What happens next
				</h2>
				<p class="govuk-body">
					An email notification has been sent to Joe Bloggs of the Ministry (<a href="mailto:j.bloggs@ministry.gov.uk">j.bloggs@ministry.gov.uk</a>).
				</p>
				<p class="govuk-body">
					All key contacts recorded on the case will also be informed of the outcome.
				</p>
				<p class="govuk-body">
					<a href="#" class="govuk-link">
						What did you think of this service?
					</a>
					(takes 30 seconds)
				</p>
			</div>
		</div>
	</main>
</div>
{% endblock %}
