{% extends "layout.html" %}

{% block pageTitle %}
  Cabinet Office Spend Controls
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
<a href="#"
   class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<!-- main -->
<div class="govuk-width-container">
	<main class="govuk-main-wrapper " id="main-content" role="main">
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds">

				<span class="govuk-caption-m">
					Case number
				</span>
				<h1 class="govuk-heading-l">
					Case number dt43954589dsj
				</h1>

				<h2 class="govuk-heading-m">
					What you need to do
				</h2>

				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
							incididunt ut labore et dolore magna aliqua.
				</p>

				<!-- ITERATE THROUGH CONDITIONS -->
				
				{% if data['conditions'].length === 0 or data['conditions'] === undefined %}
				
				<div class="govuk-warning-text">
					<span class="govuk-warning-text__icon" aria-hidden="true">!</span>
					<strong class="govuk-warning-text__text">
						<span class="govuk-warning-text__assistive">
							Warning
						</span>
						You have not entered any conditions yet
					</strong>
				</div>
				
				{% else %}
				{% for cond in data['conditions'] %}

				<h2 class="govuk-heading-m">
					Condition {{ loop.index }}
				</h2>

				<dl class="govuk-summary-list govuk-!-margin-bottom-3">
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Condition type 
						</dt>
						<dd class="govuk-summary-list__value">
							{{ cond[3] }}
							<br />
							
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="#">
								
								<span class="govuk-visually-hidden">full name</span>
							</a>
						</dd>
					</div>
				</dl>

				<dl class="govuk-summary-list govuk-!-margin-bottom-3">
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Condition description 
						</dt>
						<dd class="govuk-summary-list__value">
							{{ cond[4] }}
							
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="#">
								
								<span class="govuk-visually-hidden">full name</span>
							</a>
						</dd>
					</div>
				</dl>

				<dl class="govuk-summary-list govuk-!-margin-bottom-3">
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Guidance applied to the condition
						</dt>
						<dd class="govuk-summary-list__value">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
							incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
							nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
							
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="#">
								
								<span class="govuk-visually-hidden">full name</span>
							</a>
						</dd>
					</div>
				</dl>

				<dl class="govuk-summary-list govuk-!-margin-bottom-3">
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Condition review date
						</dt>
						<dd class="govuk-summary-list__value">
							{{ cond[5] }}
							
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="#">
								
								<span class="govuk-visually-hidden">full name</span>
							</a>
						</dd>
					</div>
				</dl>

				<dl class="govuk-summary-list govuk-!-margin-bottom-3">
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Date condition needs to be met by
						</dt>
						<dd class="govuk-summary-list__value">
							{{ cond[5] }}
							
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="#">
								
								<span class="govuk-visually-hidden">full name</span>
							</a>
						</dd>
					</div>
				</dl>

				<h2 class="govuk-heading-m">
					Response to conditions
				</h2>

				<p>
					Please provide information for the Cabinet Office as to how you have 
					responded and met the condition set. Supporting evidence and related 
					documents can be attached below.
				</p>
				
				<div class="govuk-form-group" style="padding: 40px; border: 1px solid gray; border-left: 8px solid #1d70b8;">
					
					<h2 class="govuk-heading-s">
						Dave Smith (Digital and Technology Lead)
					</h2>
					<p>
						Please see attached file for evidence.
					</p>
					<a href="#">
						Supporting evidence.pdf
					</a>


				</div>

				<div class="govuk-form-group" style="padding: 40px; border: 1px solid gray;">

					<h2 class="govuk-heading-s">
						Has the condition been met?
					</h2>
					<div class="govuk-form-group">
						<div class="govuk-radios" data-module="govuk-radios">
							<div class="govuk-radios__item">
								<input class="govuk-radios__input" id="co-conditions-met" name="co-conditions-met" type="radio" 
										value="fully"}>
								<label class="govuk-label govuk-radios__label" for="co-conditions-met">
									Fully
								</label>
							</div>
							<div class="govuk-radios__item">
								<input class="govuk-radios__input" id="co-conditions-met" name="co-conditions-met" type="radio" 
										value="notmet"}>
								<label class="govuk-label govuk-radios__label" for="co-conditions-met">
									Not met
								</label>
							</div>
						</div>
					</div>


					<p class="govuk-body" style="margin-top: 50px;">
						Add comments and attachments
					</p>
					<textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
						<label class="govuk-label" for="file-upload-1">
							Upload a file
						</label>
					<input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">

					<div class="govuk-form-group">
						<h2 class="govuk-heading-s">
							Would you like to change the review date?
						</h2>
						<div class="govuk-radios" data-module="govuk-radios">
							<div class="govuk-radios__item">
								<input class="govuk-radios__input" id="co-change-review-date" name="co-change-review-date" type="radio" 
										value="yes" data-aria-controls="co-change-review-date-hidden"}>
								<label class="govuk-label govuk-radios__label" for="co-change-review-date">
									Yes
								</label>
							</div>
							<!-- conditional, requesting optional comments -->
							<div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="co-change-review-date-hidden">
								<div class="govuk-form-group">
									<h1 class="govuk-heading-s">
										What should the new review date be?
									</h1>
									<input class="govuk-input govuk-!-width-one-third" id="condition-change-review-date" 
											name="condition-change-review-date" type="date" autocomplete="date">
								</div>
							</div>
							<div class="govuk-radios__item">
								<input class="govuk-radios__input" id="co-change-review-date" name="co-change-review-date" type="radio" 
										value="no"}>
								<label class="govuk-label govuk-radios__label" for="co-change-review-date">
									No
								</label>
							</div>
						</div>
					</div>

					<div class="govuk-form-group">
						<button class="govuk-button" data-module="govuk-button">
							Submit review
						</button>
						<button class="govuk-button govuk-button--secondary" data-module="govuk-button"
								style="margin-left: 20px;">
							Save a draft
						</button>
					</div>
				</div>
				{% endfor %}
				{% endif %}

			</div>
		</div>
	</main>
</div>
{% endblock %}
