{% extends "layout.html" %}

{% block pageTitle %}
  Cabinet Office Spend Controls
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
<a href="digital-tech-task-list"
   class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<!-- main -->
<div class="govuk-width-container">
	<main class="govuk-main-wrapper " id="main-content" role="main">
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-full">

				<h1 class="govuk-heading-l">
					{{ title }}
				</h1>


				<!-- YOUR DETAILS -->
				<h2 class="govuk-heading-m">Your details</h2>

				<dl class="govuk-summary-list govuk-!-margin-bottom-9">
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Full name
						</dt>
						<dd class="govuk-summary-list__value">
							{% if data['full-name'] != '' and data['full-name'] != defined %}
								{{ data['full-name'] }}
							{% else %}
								You need to provide a full name.
							{% endif %}
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="about-you">
								Change
								<span class="govuk-visually-hidden">full name</span>
							</a>
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Department
						</dt>
						<dd class="govuk-summary-list__value">
							{% if data['department'] != '' %}
								{{ data['department'] }}
							{% else %}
								You need to provide a department.
							{% endif %}
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="about-you">
								Change
								<span class="govuk-visually-hidden">department</span>
							</a>
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Role
						</dt>
						<dd class="govuk-summary-list__value">
							{% if data['role'] != '' %}
								{{ data['role'] }}
							{% else %}
								You need to provide a department.
							{% endif %}
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="about-you">
								Change
								<span class="govuk-visually-hidden">department</span>
							</a>
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Phone number
						</dt>
						<dd class="govuk-summary-list__value">
							{% if data['phone-number'] != '' %}
								{{ data['phone-number'] }}
							{% else %}
								You need to provide a telephone number.
							{% endif %}
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="about-you">
								Change
								<span class="govuk-visually-hidden">telephone number</span>
							</a>
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Email
						</dt>
						<dd class="govuk-summary-list__value">
							{% if data['email'] != '' %}
								{{ data['email'] }}
							{% else %}
								You need to provide an email.
							{% endif %}
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="about-you">
								Change
								<span class="govuk-visually-hidden">email address</span>
							</a>
						</dd>
					</div>
				</dl>


				<!-- PROJECT DETAILS -->
				<h2 class="govuk-heading-m">Your project's details</h2>

				<dl class="govuk-summary-list govuk-!-margin-bottom-9">
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Reference number
						</dt>
						<dd class="govuk-summary-list__value">
							2022-{{ data['department'] }}-0123
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="about-spend">
								Change
								<span class="govuk-visually-hidden">reference number</span>
							</a>
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Status
						</dt>
						<dd class="govuk-summary-list__value">
							Draft
						</dd>
						<dd class="govuk-summary-list__actions">
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Project title
						</dt>
						<dd class="govuk-summary-list__value">
							{% if data['spend-title'] != '' and data['spend-title'] != defined %}
								{{ data['spend-title'] }}
							{% else %}
								You need to provide a title for the spend.
							{% endif %}
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="about-spend">
								Change
								<span class="govuk-visually-hidden">spend title</span>
							</a>
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Description of spend
						</dt>
						<dd class="govuk-summary-list__value">
							{% if data['spend-description'] != '' and data['spend-description'] != defined %}
								{{ data['spend-description'] }}
							{% else %}
								You need to provide a description of the spend.
							{% endif %}
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="about-spend">
										Change
								<span class="govuk-visually-hidden">spend description</span>
							</a>
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Area of spend
						</dt>
						<dd class="govuk-summary-list__value">
							{% if data['spend-type'] != '' and data['spend-type'] != defined %}
								{{ data['spend-type'] }}
							{% else %}
								You need to provide a spent type.
							{% endif %}
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="about-spend">
								Change
								<span class="govuk-visually-hidden">area of spend</span>
							</a>
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Commercial assurance needed?
						</dt>
						<dd class="govuk-summary-list__value">
							{% if data['commercial-assurance'] != '' and data['commercial-assurance`'] != defined %}
								{{ data['commercial-assurance'] }}
							{% else %}
								You need to indicate if the spend is over £2 million.
							{% endif %}
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="about-spend">
								Change
								<span class="govuk-visually-hidden">Is commercial assurance needed</span>
							</a>
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Expected end date
						</dt>
						<dd class="govuk-summary-list__value">
							{% if data['expected-end-date-day'] != '' and data['expected-end-date-day'] != defined %}
								{{ data['expected-end-date-day'] }}.{{ data['expected-end-date-month'] }}.{{ data['expected-end-date-year'] }}
							{% else %}
								You need to provide an end date.
							{% endif %}
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="about-spend">
								Change
								<span class="govuk-visually-hidden">Expected end date</span>
							</a>
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							All approvals secured?
						</dt>
						<dd class="govuk-summary-list__value">
							{% if data['received-necessary-approvals'] != '' and data['received-necessary-approvals'] != defined %}
								{{ data['received-necessary-approvals'] }}
							{% else %}
								You need to indicate if all approvals have been secured.
							{% endif %}
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="about-spend">
								Change
								<span class="govuk-visually-hidden">All approvals secured</span>
							</a>
						</dd>
					</div>

				</dl>


				<!-- KEY CONTACTS AND SPEND DETAILS -->
				<h2 class="govuk-heading-m">Key contacts and spend details</h2>

				<dl class="govuk-summary-list govuk-!-margin-bottom-9">
					{% if data['key_contacts'].length === 0 or data['key_contacts'] === undefined %}
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Key contacts
						</dt>
						<dd class="govuk-summary-list__value">
							You have not entered any key contacts
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="request-key-contacts">
								Change
								<span class="govuk-visually-hidden">Key contacts and spend details</span>
							</a>
						</dd>
					</div>
					{% else %}
					{% for contact in data['key_contacts'] %}
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Contact
						</dt>
						<dd class="govuk-summary-list__value">
							Name: {{ contact[0] }}<br />
							Role: {{ contact[1] }}<br />
							Telephone: {{ contact[2] }}<br />
							Email: {{ contact[3] }}<br />
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="request-key-contacts">
								Change
								<span class="govuk-visually-hidden">reference number</span>
							</a>
						</dd>
					</div>
					{% endfor %}
					{% endif %}

					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Delivery stage
						</dt>
						<dd class="govuk-summary-list__value">
						{% if data['delivery-stage'].length === undefined %}
							You have not entered the delivery stage
						{% else %}
							{{ data['delivery-stage'] }}
						{% endif %}
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="spend-details-approvals-1">
								Change
								<span class="govuk-visually-hidden">Delivery stage</span>
							</a>
						</dd>
					</div>

					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							IPA review needed?
						</dt>
						<dd class="govuk-summary-list__value">
						{% if data['ipa-review'].length === undefined %}
							You have not entered this
						{% else %}
							{{ data['ipa-review'] }}
						{% endif %}
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="spend-details-approvals-2">
								Change
								<span class="govuk-visually-hidden">IPA review needed</span>
							</a>
						</dd>
					</div>

					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Treasury approval needed?
						</dt>
						<dd class="govuk-summary-list__value">
						{% if data['treasury-approval-required'].length === undefined %}
							You have not entered this
						{% else %}
							{{ data['treasury-approval-required'] }}
						{% endif %}
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="spend-details-approvals-3">
								Change
								<span class="govuk-visually-hidden">Treasury approval needed</span>
							</a>
						</dd>
					</div>

					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Service assessment needed?
						</dt>
						<dd class="govuk-summary-list__value">
						{% if data['service-assessment-required'].length === undefined %}
							You have not entered this
						{% else %}
							{{ data['service-assessment-required'] }}
						{% endif %}
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="spend-details-approvals-4">
								Change
								<span class="govuk-visually-hidden">Service assessment needed</span>
							</a>
						</dd>
					</div>

					{% if data['critical_events'].length === 0 or data['critical_events'] === undefined %}
					<div class="govuk-summary-list__row">
						<dd class="govuk-summary-list__value">
							You have not entered any events
						</dd>
					</div>
					{% else %}
						{% for event in data['critical_events'] %}
						<div class="govuk-summary-list__row">
							<dt class="govuk-summary-list__key">
								Critical event
							</dt>
							<dd class="govuk-summary-list__value">
								{{ event[0] }}<br />
								{{ event[1] }}<br />
							</dd>
							<dd class="govuk-summary-list__actions">
								<a class="govuk-link" href="spend-details-approvals-5a">
									Change
									<span class="govuk-visually-hidden">reference number</span>
								</a>
							</dd>
						</div>
						{% endfor %}
					{% endif %}

				</dl>


				<!-- ABOUT THIS PROJECT -->
				<h2 class="govuk-heading-m">About this project</h2>

				<dl class="govuk-summary-list govuk-!-margin-bottom-9">
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Is this project digital or tech?
						</dt>
						<dd class="govuk-summary-list__value">
						{% if data['digital-tech-digital-or-tech'] === undefined %}
							You have not answered this
						{% else %}
							{{ data['digital-tech-digital-or-tech'] }}
						{% endif %}
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="digital-tech-about-project-1">
								Change
								<span class="govuk-visually-hidden">Digital or technology?</span>
							</a>
						</dd>
					</div>
					
					<!-- Optional field - shown only if "technology" is selected -->
					{% if data['digital-tech-digital-or-tech'] === "Technology" %}
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Describe the technology you are requesting money for
						</dt>
						<dd class="govuk-summary-list__value">
							{{ data['digital-tech-describe-tech-detail'] }}
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="digital-tech-about-project-1">
								Change
								<span class="govuk-visually-hidden">Digital or technology?</span>
							</a>
						</dd>
					</div>

					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							How will the proposed technology provide value for money?
						</dt>
						<dd class="govuk-summary-list__value">
							{{ data['digital-tech-describe-tech-value'] }}
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="digital-tech-about-project-1">
								Change
								<span class="govuk-visually-hidden">Digital or technology?</span>
							</a>
						</dd>
					</div>
					{% endif %}
					<!-- end of this optional -->


					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Is this a response to a ministerial or legal requirement?
						</dt>
						<dd class="govuk-summary-list__value">
						{% if data['digital-tech-minister-legal-requirement'] === undefined %}
							You have not answered this
						{% else %}
							{{ data['digital-tech-minister-legal-requirement'] }}
						{% endif %}
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="digital-tech-about-project-2">
								Change
								<span class="govuk-visually-hidden">Is this a response to a ministerial or legal requirement?</span>
							</a>
						</dd>
					</div>

					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							What problem is this project trying to solve?
						</dt>
						<dd class="govuk-summary-list__value">
						{% if data['digital-tech-about-3-problem-solved'] === undefined %}
							You have not answered this
						{% else %}
							{{ data['digital-tech-about-3-problem-solved'] }}
						{% endif %}
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="digital-tech-about-project-3">
								Change
								<span class="govuk-visually-hidden">What problem is this project trying to solve?</span>
							</a>
						</dd>
					</div>

					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							How many users are affected by or would use your solution?
						</dt>
						<dd class="govuk-summary-list__value">
						{% if data['digital-tech-number-people'] === undefined %}
							You have not answered this
						{% else %}
							{{ data['digital-tech-number-people'] }}
						{% endif %}
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="digital-tech-about-project-4">
								Change
								<span class="govuk-visually-hidden">How many users are affected by or would use your solution?</span>
							</a>
						</dd>
					</div>

					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Description of proposed solution
						</dt>
						<dd class="govuk-summary-list__value">
						{% if data['digital-tech-about-5-describe-solution'] === undefined %}
							You have not answered this
						{% else %}
							{{ data['digital-tech-about-5-describe-solution'] }}
						{% endif %}
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="digital-tech-about-project-5">
								Change
								<span class="govuk-visually-hidden">Description of proposed solution</span>
							</a>
						</dd>
					</div>

					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Will you be procuring externally at all?
						</dt>
						<dd class="govuk-summary-list__value">
						{% if data['digital-tech-procuring-externally'] === undefined %}
							You have not answered this
						{% else %}
							{{ data['digital-tech-procuring-externally'] }}
						{% endif %}
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="digital-tech-about-project-6">
								Change
								<span class="govuk-visually-hidden">Will you be procuring externally at all?</span>
							</a>
						</dd>
					</div>

					<!-- Optional field - shown only if "Yes" is selected -->
					{% if data['digital-tech-procuring-externally'] === "Yes" %}
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Describe the requirement for procuring externally
						</dt>
						<dd class="govuk-summary-list__value">
							{{ data['digital-tech-procuring-externally-strategy-description'] }}
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="digital-tech-about-project-6">
								Change
								<span class="govuk-visually-hidden">Digital or technology?</span>
							</a>
						</dd>
					</div>
					{% endif %}
					<!-- end of this optional -->

					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Do users need to authenticate?
						</dt>
						<dd class="govuk-summary-list__value">
						{% if data['digital-tech-users-authenticate'] === undefined %}
							You have not answered this
						{% else %}
							{{ data['digital-tech-users-authenticate'] }}
						{% endif %}
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="digital-tech-about-project-7">
								Change
								<span class="govuk-visually-hidden">Do users need to authenticate?</span>
							</a>
						</dd>
					</div>

					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Is the service domain on GOV.UK?
						</dt>
						<dd class="govuk-summary-list__value">
						{% if data['digital-tech-on-govuk'] === undefined %}
							You have not answered this
						{% else %}
							{{ data['digital-tech-on-govuk'] }}
							{% if data['digital-tech-on-govuk'] == "no" %}
								<br />
								{{ data['digital-tech-domain-name'] }}
							{% endif %}
						{% endif %}
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="digital-tech-about-project-8">
								Change
								<span class="govuk-visually-hidden">Is the service domain on GOV.UK?</span>
							</a>
						</dd>
					</div>

					<!-- Optional field - shown only if "Yes" is selected -->
					{% if data['digital-tech-procuring-externally'] === "Yes" %}
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							What is your service's domain name (URL)?
						</dt>
						<dd class="govuk-summary-list__value">
							{% if data['file-exemption-case'] != undefined or data['file-exemption-case'] != '' %}
								{{ data['digital-tech-domain-name'] }}
							{% else %}
								You have not provided a URL
							{% endif %}
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="digital-tech-about-project-8">
								Change
								<span class="govuk-visually-hidden">Service domain name</span>
							</a>
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							File with proof of exemption case
						</dt>
						<dd class="govuk-summary-list__value">
							{% if data['file-exemption-case'] != undefined and data['file-exemption-case'] != '' %}
								{{ data['file-exemption-case'] }}
							{% else %}
								You have not provided a file
							{% endif %}
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="digital-tech-about-project-8">
								Change
								<span class="govuk-visually-hidden">File with exemption case</span>
							</a>
						</dd>
					</div>
					{% endif %}
					<!-- end of this optional -->



					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							What technology are you requesting money for?
						</dt>
						<dd class="govuk-summary-list__value">
						{% if data['digital-tech-what-technology-description'] === undefined %}
							You have not answered this
						{% else %}
							{{ data['digital-tech-what-technology-description'] }}
						{% endif %}
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="digital-tech-about-project-9">
								Change
								<span class="govuk-visually-hidden">What technology are you requesting money for?</span>
							</a>
						</dd>
					</div>

					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							How does the proposed technology provide value for money?
						</dt>
						<dd class="govuk-summary-list__value">
						{% if data['digital-tech-tech-value-description'] === undefined %}
							You have not answered this
						{% else %}
							{{ data['digital-tech-tech-value-description'] }}
						{% endif %}
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="digital-tech-about-project-10">
								Change
								<span class="govuk-visually-hidden">How does the proposed technology provide value for money?</span>
							</a>
						</dd>
					</div>

				</dl>

				<!-- COST BREAKDOWN -->
				<h2 class="govuk-heading-m">Cost breakdown</h2>

				<dl class="govuk-summary-list govuk-!-margin-bottom-9">
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">

						</dt>
						<dd class="govuk-summary-list__value">
						{% if data['digital-tech-digital-or-tech'] === undefined %}
							You have not answered this
						{% else %}
							{{ data['digital-tech-digital-or-tech'] }}
						{% endif %}
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="#">
								Change
								<span class="govuk-visually-hidden">Digital or technology?</span>
							</a>
						</dd>
					</div>



				</dl>


				<!-- TECHNOLOGY CODE OF PRACTICE -->
				<h2 class="govuk-heading-m">Technology code of practice</h2>

				<dl class="govuk-summary-list govuk-!-margin-bottom-9">
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							1. Define user needs
						</dt>
						<dd class="govuk-summary-list__value">
						{% if data['tech-cop-point-1'] === undefined and data['file-upload-1'] === undefined %}
							You have not answered this
						{% else %}
							{{ data['tech-cop-point-1'] }}
						{% endif %}
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="#">
								Change
								<span class="govuk-visually-hidden">Define user needs</span>
							</a>
						</dd>
					</div>

					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							2. Make things accessible and inclusive
						</dt>
						<dd class="govuk-summary-list__value">
						{% if data['tech-cop-point-2'] === undefined and data['file-upload-2'] === undefined %}
							You have not answered this
						{% else %}
							{{ data['tech-cop-point-2'] }}
						{% endif %}
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="#">
								Change
								<span class="govuk-visually-hidden">Make things accessible and inclusive</span>
							</a>
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							3. Be open and use open source
						</dt>
						<dd class="govuk-summary-list__value">
						{% if data['tech-cop-point-3'] === undefined and data['file-upload-3'] === undefined %}
							You have not answered this
						{% else %}
							{{ data['tech-cop-point-3'] }}
						{% endif %}
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="#">
								Change
								<span class="govuk-visually-hidden">Be open and use open source</span>
							</a>
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							4. Make use of open standards
						</dt>
						<dd class="govuk-summary-list__value">
						{% if data['tech-cop-point-4'] === undefined and data['file-upload-4'] === undefined %}
							You have not answered this
						{% else %}
							{{ data['tech-cop-point-4'] }}
						{% endif %}
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="#">
								Change
								<span class="govuk-visually-hidden">Make use of open standards</span>
							</a>
						</dd>
					</div>

					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							5. Use cloud first
						</dt>
						<dd class="govuk-summary-list__value">
						{% if data['tech-cop-point-5'] === undefined and data['file-upload-5'] === undefined %}
							You have not answered this
						{% else %}
							{{ data['tech-cop-point-5'] }}
						{% endif %}
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="#">
								Change
								<span class="govuk-visually-hidden">5. Use cloud first</span>
							</a>
						</dd>
					</div>

					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							6. Make things secure
						</dt>
						<dd class="govuk-summary-list__value">
						{% if data['tech-cop-point-6'] === undefined and data['file-upload-6'] === undefined %}
							You have not answered this
						{% else %}
							{{ data['tech-cop-point-6'] }}
						{% endif %}
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="#">
								Change
								<span class="govuk-visually-hidden">6. Make things secure</span>
							</a>
						</dd>
					</div>

					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							7. Make privacy integral
						</dt>
						<dd class="govuk-summary-list__value">
						{% if data['tech-cop-point-7'] === undefined and data['file-upload-7'] === undefined %}
							You have not answered this
						{% else %}
							{{ data['tech-cop-point-7'] }}
						{% endif %}
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="#">
								Change
								<span class="govuk-visually-hidden">7. Make privacy integral</span>
							</a>
						</dd>
					</div>

					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							8. Share, reuse and collaborate
						</dt>
						<dd class="govuk-summary-list__value">
						{% if data['tech-cop-point-8'] === undefined and data['file-upload-8'] === undefined %}
							You have not answered this
						{% else %}
							{{ data['tech-cop-point-8'] }}
						{% endif %}
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="#">
								Change
								<span class="govuk-visually-hidden">8. Share, reuse and collaborate</span>
							</a>
						</dd>
					</div>

					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							9. Integrate and adapt technology
						</dt>
						<dd class="govuk-summary-list__value">
						{% if data['tech-cop-point-9'] === undefined and data['file-upload-9'] === undefined %}
							You have not answered this
						{% else %}
							{{ data['tech-cop-point-9'] }}
						{% endif %}
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="#">
								Change
								<span class="govuk-visually-hidden">9. Integrate and adapt technology</span>
							</a>
						</dd>
					</div>

					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							10. Make better use of data
						</dt>
						<dd class="govuk-summary-list__value">
						{% if data['tech-cop-point-10'] === undefined and data['file-upload-10'] === undefined %}
							You have not answered this
						{% else %}
							{{ data['tech-cop-point-10'] }}
						{% endif %}
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="#">
								Change
								<span class="govuk-visually-hidden">10. Make better use of data</span>
							</a>
						</dd>
					</div>

					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							11. Define your purchasing strategy
						</dt>
						<dd class="govuk-summary-list__value">
						{% if data['tech-cop-point-11'] === undefined and data['file-upload-11'] === undefined %}
							You have not answered this
						{% else %}
							{{ data['tech-cop-point-11'] }}
						{% endif %}
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="#">
								Change
								<span class="govuk-visually-hidden">11. Define your purchasing strategy</span>
							</a>
						</dd>
					</div>

					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							12. Meet the Service Standard
						</dt>
						<dd class="govuk-summary-list__value">
						{% if data['tech-cop-point-12'] === undefined and data['file-upload-12'] === undefined %}
							You have not answered this
						{% else %}
							{{ data['tech-cop-point-12'] }}
						{% endif %}
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="#">
								Change
								<span class="govuk-visually-hidden">12. Meet the Service Standard</span>
							</a>
						</dd>
					</div>
				</dl>


			</div>
			<div class="govuk-grid-column-two-thirds">
				<h2 class="govuk-heading-m">Now send your application</h2>

				<p class="govuk-body">By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

				<form action="sending-checked-answers" method="post" novalidate>

				<input type="hidden" name="answers-checked" value="true">

					<button class="govuk-button" data-module="govuk-button">
								Accept and send
					</button>

				</form>

			</div>
		</div>
	</main>
</div>
{% endblock %}
