{% extends "layout.html" %}

{% block pageTitle %}
  Cabinet Office Spend Controls
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
<a href="digital-tech-task-list" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

		<div class="govuk-form-group">
			<h1 class="govuk-heading-xl">
				Technology Code Of Practice
			</h1>
		</div>
	</div>
</div>

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

		<div id="hint" class="govuk-hint">
			The Technology Code of Practice (TCoP) is a set of criteria to help government design, build and buy technology. It is a cross-government agreed standard used for the Cabinet Office spend control process.
			<a href="#">Learn more</a>.
		</div>
		<div class="govuk-warning-text">
			<span class="govuk-warning-text__icon" aria-hidden="true">!</span>
			<strong class="govuk-warning-text__text">
			<span class="govuk-warning-text__assistive">Warning</span>
				You must consider all points of the TCoP as part of the Cabinet Office spend control process. Either type out in full how you have met the technology code of practice or upload file(s) 
				for each element of the TCoP.
			</strong>
		</div>

		<form action="sending-digital-tech-code-practice" method="send">

			<hr style="margin-top: 60px; margin-bottom: 60px;">
			<!-- point 1 -->
			<div class="govuk-form-group">
				<a id="tcop-1"></a>
				<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
					<h1 class="govuk-heading-m">
						1. Define user needs
					</h1>
				</legend>
				<div id="hint" class="govuk-hint">
					Understand your users and their needs. Develop knowledge of your users and 
					what that means for your technology project or programme. 
				</div>
				<p>
					<a href="https://www.gov.uk/guidance/define-user-needs" target="blank">
						Read more about TCoP point 1 - Define user needs.
					</a>
				</p>
				<div class="govuk-checkboxes" data-module="govuk-checkboxes">
					<div class="govuk-checkboxes__item">
						<input class="govuk-checkboxes__input" id="tcop-1" name="tcop-1" type="checkbox" value="tcop-1"
							data-aria-controls="digital-tech-TCOP-opt-1">
						<label class="govuk-label govuk-checkboxes__label" for="tcop-1">
							Select if this criteria is relevant to your spend control
						</label>
					</div>
					<!-- conditional item 1 -->
					<div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="digital-tech-TCOP-opt-1">
						<div class="govuk-form-group">
							<div id="hint" class="govuk-hint">
								Describe how you have met this point
							</div>
							
							<div class="govuk-form-group">
								<textarea class="govuk-textarea" id="tech-cop-point-1" 
											name="tech-cop-point-1" 
											rows="5">{{ data['tech-cop-point-1'] }}</textarea>
							</div>
							<label class="govuk-label" for="tcop-file-upload-1">
								Upload a file
							</label>
							<input class="govuk-file-upload" id="tcop-file-upload-1" name="tcop-file-upload-1" type="file">
						</div>
					</div>
					<!-- end of conditional -->
				</div>
				
				<hr style="margin-top: 60px; margin-bottom: 60px;">
			</div>

			<!-- point 2 -->
			<div class="govuk-form-group">
				<a id="tcop-2"></a>
				<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
					<h1 class="govuk-heading-m">
						2. Make things accessible and inclusive
					</h1>
				</legend>
				<div id="hint" class="govuk-hint">
					Make sure your technology, infrastructure and systems are accessible and inclusive for all users. 
				</div>
				<p>
					<a href="https://www.gov.uk/guidance/make-things-accessible" target="blank">
						Read more about TCoP point 2 - Make things accessible.
					</a>
				</p>
				<div class="govuk-checkboxes" data-module="govuk-checkboxes">
					<div class="govuk-checkboxes__item">
						<input class="govuk-checkboxes__input" id="tcop-2" name="tcop-2" type="checkbox" value="tcop-2"
							data-aria-controls="digital-tech-TCOP-opt-2">
						<label class="govuk-label govuk-checkboxes__label" for="tcop-2">
							Select if this criteria is relevant to your spend control
						</label>
					</div>
					<!-- conditional item 1 -->
					<div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="digital-tech-TCOP-opt-2">
						<div class="govuk-form-group">
							<div id="hint" class="govuk-hint">
								Describe how you have met this point
							</div>
							
							<div class="govuk-form-group">
								<textarea class="govuk-textarea" id="tech-cop-point-2" 
											name="tech-cop-point-2" 
											rows="5">{{ data['tech-cop-point-2'] }}</textarea>
							</div>
							<label class="govuk-label" for="tcop-file-upload-2">
								Upload a file
							</label>
							<input class="govuk-file-upload" id="tcop-file-upload-2" name="tcop-file-upload-2" type="file">
						</div>
					</div>
					<!-- end of conditional -->
				</div>
				<hr style="margin-top: 60px; margin-bottom: 60px;">
			</div>

			<!-- point 3 -->
			<div class="govuk-form-group">
				<a id="tcop-3"></a>
				<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
					<h1 class="govuk-heading-m">
						3. Be open and use open source
					</h1>
				</legend>
				<div id="hint" class="govuk-hint">
					Publish your code and use open source software to improve transparency, flexibility and accountability. 
				</div>
				<p>
					<a href="https://www.gov.uk/guidance/be-open-and-use-open-source" target="blank">
						Read more about TCoP point 3 - Be open and use open source.
					</a>
				</p>
				<div class="govuk-checkboxes" data-module="govuk-checkboxes">
					<div class="govuk-checkboxes__item">
						<input class="govuk-checkboxes__input" id="tcop-3" name="tcop-3" type="checkbox" value="tcop-3"
							data-aria-controls="digital-tech-TCOP-opt-3">
						<label class="govuk-label govuk-checkboxes__label" for="tcop-3">
							Select if this criteria is relevant to your spend control
						</label>
					</div>
					<!-- conditional item 1 -->
					<div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="digital-tech-TCOP-opt-3">
						<div class="govuk-form-group">
							<div id="hint" class="govuk-hint">
								Describe how you have met this point
							</div>
							
							<div class="govuk-form-group">
								<textarea class="govuk-textarea" id="tech-cop-point-3" 
											name="tech-cop-point-3" 
											rows="5">{{ data['tech-cop-point-3'] }}</textarea>
							</div>
							<label class="govuk-label" for="tcop-file-upload-3">
								Upload a file
							</label>
							<input class="govuk-file-upload" id="tcop-file-upload-3" name="tcop-file-upload-3" type="file">
						</div>
					</div>
					<!-- end of conditional -->
				</div>

				<hr style="margin-top: 60px; margin-bottom: 60px;">
			</div>

			<!-- point 4 -->
			<div class="govuk-form-group">
				<a id="tcop-4"></a>
				<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
					<h1 class="govuk-heading-m">
						4. Make use of open standards
					</h1>
				</legend>
				<div id="hint" class="govuk-hint">
					Build technology that uses open standards to ensure your technology works and 
					communicates with other technology, and can easily be upgraded and expanded.
				</div>
				<p>
					<a href="https://www.gov.uk/guidance/make-use-of-open-standards" target="blank">
						Read more about TCoP point 4 - Make use of open standards.
					</a>
				</p>

				<div class="govuk-checkboxes" data-module="govuk-checkboxes">
					<div class="govuk-checkboxes__item">
						<input class="govuk-checkboxes__input" id="tcop-4" name="tcop-4" type="checkbox" value="tcop-4"
							data-aria-controls="digital-tech-TCOP-opt-4">
						<label class="govuk-label govuk-checkboxes__label" for="tcop-4">
							Select if this criteria is relevant to your spend control
						</label>
					</div>
					<!-- conditional item 1 -->
					<div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="digital-tech-TCOP-opt-4">
						<div class="govuk-form-group">
							<div id="hint" class="govuk-hint">
								Describe how you have met this point
							</div>
							
							<div class="govuk-form-group">
								<textarea class="govuk-textarea" id="tech-cop-point-4" 
											name="tech-cop-point-4" 
											rows="5">{{ data['tech-cop-point-4'] }}</textarea>
							</div>
							<label class="govuk-label" for="tcop-file-upload-4">
								Upload a file
							</label>
							<input class="govuk-file-upload" id="tcop-file-upload-4" name="tcop-file-upload-4" type="file">
						</div>
					</div>
					<!-- end of conditional -->
				</div>

				<hr style="margin-top: 60px; margin-bottom: 60px;">
			</div>

			<!-- point 5 -->
			<div class="govuk-form-group">
				<a id="tcop-5"></a>
				<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
					<h1 class="govuk-heading-m">
						5. Use cloud first
					</h1>
				</legend>
				<div id="hint" class="govuk-hint">
					Consider using public cloud solutions first as stated in the Cloud First policy. 
				</div>
				<p>
					<a href="https://www.gov.uk/guidance/use-cloud-first" target="blank">
						Read more about TCoP point 5 - Use cloud first.
					</a>
				</p>

				<div class="govuk-checkboxes" data-module="govuk-checkboxes">
					<div class="govuk-checkboxes__item">
						<input class="govuk-checkboxes__input" id="tcop-5" name="tcop-5" type="checkbox" value="tcop-5"
							data-aria-controls="digital-tech-TCOP-opt-5">
						<label class="govuk-label govuk-checkboxes__label" for="tcop-5">
							Select if this criteria is relevant to your spend control
						</label>
					</div>
					<!-- conditional item 1 -->
					<div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="digital-tech-TCOP-opt-5">
						<div class="govuk-form-group">
							<div id="hint" class="govuk-hint">
								Describe how you have met this point
							</div>
							
							<div class="govuk-form-group">
								<textarea class="govuk-textarea" id="tech-cop-point-5" 
											name="tech-cop-point-5" 
											rows="5">{{ data['tech-cop-point-5'] }}</textarea>
							</div>
							<label class="govuk-label" for="tcop-file-upload-5">
								Upload a file
							</label>
							<input class="govuk-file-upload" id="tcop-file-upload-5" name="tcop-file-upload-5" type="file">
						</div>
					</div>
					<!-- end of conditional -->
				</div>

				<hr style="margin-top: 60px; margin-bottom: 60px;">
			</div>

			<!-- point 6 -->
			<div class="govuk-form-group">
				<a id="tcop-6"></a>
				<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
					<h1 class="govuk-heading-m">
						6. Make things secure
					</h1>
				</legend>
				<div id="hint" class="govuk-hint">
					Keep systems and data safe with the appropriate level of security.
				</div>
				<p>
					<a href="https://www.gov.uk/guidance/make-things-secure" target="blank">
						Read more about TCoP point 6 - Make things secure.
					</a>
				</p>

				<div class="govuk-checkboxes" data-module="govuk-checkboxes">
					<div class="govuk-checkboxes__item">
						<input class="govuk-checkboxes__input" id="tcop-6" name="tcop-6" type="checkbox" value="tcop-6"
							data-aria-controls="digital-tech-TCOP-opt-6">
						<label class="govuk-label govuk-checkboxes__label" for="tcop-6">
							Select if this criteria is relevant to your spend control
						</label>
					</div>
					<!-- conditional item 1 -->
					<div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="digital-tech-TCOP-opt-6">
						<div class="govuk-form-group">
							<div id="hint" class="govuk-hint">
								Describe how you have met this point
							</div>
							
							<div class="govuk-form-group">
								<textarea class="govuk-textarea" id="tech-cop-point-6" 
											name="tech-cop-point-6" 
											rows="5">{{ data['tech-cop-point-6'] }}</textarea>
							</div>
							<label class="govuk-label" for="tcop-file-upload-6">
								Upload a file
							</label>
							<input class="govuk-file-upload" id="tcop-file-upload-6" name="tcop-file-upload-6" type="file">
						</div>
					</div>
					<!-- end of conditional -->
				</div>

				<hr style="margin-top: 60px; margin-bottom: 60px;">
			</div>

			<!-- point 7 -->
			<div class="govuk-form-group">
				<a id="tcop-7"></a>
				<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
					<h1 class="govuk-heading-m">
						7. Make privacy integral
					</h1>
				</legend>
				<div id="hint" class="govuk-hint">
					Make sure users rights are protected by integrating privacy as an essential part of your system.
				</div>
				<p>
					<a href="https://www.gov.uk/guidance/make-privacy-integral" target="blank">
						Read more about TCoP point 7 - Make privacy integral.
					</a>
				</p>

				<div class="govuk-checkboxes" data-module="govuk-checkboxes">
					<div class="govuk-checkboxes__item">
						<input class="govuk-checkboxes__input" id="tcop-7" name="tcop-7" type="checkbox" value="tcop-7"
							data-aria-controls="digital-tech-TCOP-opt-7">
						<label class="govuk-label govuk-checkboxes__label" for="tcop-7">
							Select if this criteria is relevant to your spend control
						</label>
					</div>
					<!-- conditional item 1 -->
					<div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="digital-tech-TCOP-opt-7">
						<div class="govuk-form-group">
							<div id="hint" class="govuk-hint">
								Describe how you have met this point
							</div>
							
							<div class="govuk-form-group">
								<textarea class="govuk-textarea" id="tech-cop-point-7" 
											name="tech-cop-point-7" 
											rows="5">{{ data['tech-cop-point-7'] }}</textarea>
							</div>
							<label class="govuk-label" for="tcop-file-upload-7">
								Upload a file
							</label>
							<input class="govuk-file-upload" id="tcop-file-upload-7" name="tcop-file-upload-7" type="file">
						</div>
					</div>
					<!-- end of conditional -->
				</div>

				<hr style="margin-top: 60px; margin-bottom: 60px;">
			</div>

			<!-- point 8 -->
			<div class="govuk-form-group">
				<a id="tcop-8"></a>
				<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
					<h1 class="govuk-heading-m">
						8. Share, reuse and collaborate
					</h1>
				</legend>
				<div id="hint" class="govuk-hint">
					Avoid duplicating effort and unnecessary costs by collaborating across government 
					and sharing and reusing technology, data, and services.
				</div>
				<p>
					<a href="https://www.gov.uk/guidance/integrate-and-adapt-technology" target="blank">
						Read more about TCoP point 8 - Share, reuse and collaborate.
					</a>
				</p>

				<div class="govuk-checkboxes" data-module="govuk-checkboxes">
					<div class="govuk-checkboxes__item">
						<input class="govuk-checkboxes__input" id="tcop-8" name="tcop-8" type="checkbox" value="tcop-8"
							data-aria-controls="digital-tech-TCOP-opt-8">
						<label class="govuk-label govuk-checkboxes__label" for="tcop-8">
							Select if this criteria is relevant to your spend control
						</label>
					</div>
					<!-- conditional item 1 -->
					<div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="digital-tech-TCOP-opt-8">
						<div class="govuk-form-group">
							<div id="hint" class="govuk-hint">
								Describe how you have met this point
							</div>
							
							<div class="govuk-form-group">
								<textarea class="govuk-textarea" id="tech-cop-point-8" 
											name="tech-cop-point-8" 
											rows="5">{{ data['tech-cop-point-8'] }}</textarea>
							</div>
							<label class="govuk-label" for="tcop-file-upload-8">
								Upload a file
							</label>
							<input class="govuk-file-upload" id="tcop-file-upload-8" name="tcop-file-upload-8" type="file">
						</div>
					</div>
					<!-- end of conditional -->
				</div>

				<hr style="margin-top: 60px; margin-bottom: 60px;">
			</div>

			<!-- point 9 -->
			<div class="govuk-form-group">
				<a id="tcop-9"></a>
				<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
					<h1 class="govuk-heading-m">
						9. Integrate and adapt technology
					</h1>
				</legend>
				<div id="hint" class="govuk-hint">
					Your technology should work with existing technologies, processes and infrastructure 
					in your organisation, and adapt to future demands.
				</div>
				<p>
					<a href="https://www.gov.uk/guidance/integrate-and-adapt-technology" target="blank">
						Read more about TCoP point 9 - Integrate and adapt technology.
					</a>
				</p>

				<div class="govuk-checkboxes" data-module="govuk-checkboxes">
					<div class="govuk-checkboxes__item">
						<input class="govuk-checkboxes__input" id="tcop-9" name="tcop-9" type="checkbox" value="tcop-9"
							data-aria-controls="digital-tech-TCOP-opt-9">
						<label class="govuk-label govuk-checkboxes__label" for="tcop-9">
							Select if this criteria is relevant to your spend control
						</label>
					</div>
					<!-- conditional item 1 -->
					<div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="digital-tech-TCOP-opt-9">
						<div class="govuk-form-group">
							<div id="hint" class="govuk-hint">
								Describe how you have met this point
							</div>
							
							<div class="govuk-form-group">
								<textarea class="govuk-textarea" id="tech-cop-point-9" 
											name="tech-cop-point-9" 
											rows="5">{{ data['tech-cop-point-9'] }}</textarea>
							</div>
							<label class="govuk-label" for="tcop-file-upload-9">
								Upload a file
							</label>
							<input class="govuk-file-upload" id="tcop-file-upload-9" name="tcop-file-upload-9" type="file">
						</div>
					</div>
					<!-- end of conditional -->
				</div>

				<hr style="margin-top: 60px; margin-bottom: 60px;">
			</div>

			<!-- point 10 -->
			<div class="govuk-form-group">
				<a id="tcop-10"></a>
				<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
					<h1 class="govuk-heading-m">
						10. Make better use of data
					</h1>
				</legend>
				<div id="hint" class="govuk-hint">
					Use data more effectively by improving your technology, infrastructure and processes. 
				</div>
				<p>
					<a href="https://www.gov.uk/guidance/make-better-use-of-data" target="blank">
						Read more about TCoP point 10 - Make better use of data.
					</a>
				</p>

				<div class="govuk-checkboxes" data-module="govuk-checkboxes">
					<div class="govuk-checkboxes__item">
						<input class="govuk-checkboxes__input" id="tcop-10" name="tcop-10" type="checkbox" value="tcop-10"
							data-aria-controls="digital-tech-TCOP-opt-10">
						<label class="govuk-label govuk-checkboxes__label" for="tcop-10">
							Select if this criteria is relevant to your spend control
						</label>
					</div>
					<!-- conditional item 1 -->
					<div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="digital-tech-TCOP-opt-10">
						<div class="govuk-form-group">
							<div id="hint" class="govuk-hint">
								Describe how you have met this point
							</div>
							
							<div class="govuk-form-group">
								<textarea class="govuk-textarea" id="tech-cop-point-10" 
											name="tech-cop-point-10" 
											rows="5">{{ data['tech-cop-point-10'] }}</textarea>
							</div>
							<label class="govuk-label" for="tcop-file-upload-10">
								Upload a file
							</label>
							<input class="govuk-file-upload" id="tcop-file-upload-10" name="tcop-file-upload-10" type="file">
						</div>
					</div>
					<!-- end of conditional -->
				</div>

				<hr style="margin-top: 60px; margin-bottom: 60px;">
			</div>

			<!-- point 11 -->
			<div class="govuk-form-group">
				<a id="tcop-11"></a>
				<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
					<h1 class="govuk-heading-m">
						11. Define your purchasing strategy
					</h1>
				</legend>
				<div id="hint" class="govuk-hint">
					Your purchasing strategy must show you’ve considered commercial and 
					technology aspects, and contractual limitations. 
				</div>
				<p>
					<a href="https://www.gov.uk/guidance/define-your-purchasing-strategy" target="blank">
						Read more about TCoP point 11 - Define your purchasing strategy.
					</a>
				</p>

				<div class="govuk-checkboxes" data-module="govuk-checkboxes">
					<div class="govuk-checkboxes__item">
						<input class="govuk-checkboxes__input" id="tcop-11" name="tcop-11" type="checkbox" value="tcop-11"
							data-aria-controls="digital-tech-TCOP-opt-11">
						<label class="govuk-label govuk-checkboxes__label" for="tcop-11">
							Select if this criteria is relevant to your spend control
						</label>
					</div>
					<!-- conditional item 1 -->
					<div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="digital-tech-TCOP-opt-11">
						<div class="govuk-form-group">
							<div id="hint" class="govuk-hint">
								Describe how you have met this point
							</div>
							
							<div class="govuk-form-group">
								<textarea class="govuk-textarea" id="tech-cop-point-11" 
											name="tech-cop-point-11" 
											rows="5">{{ data['tech-cop-point-11'] }}</textarea>
							</div>
							<label class="govuk-label" for="tcop-file-upload-11">
								Upload a file
							</label>
							<input class="govuk-file-upload" id="tcop-file-upload-11" name="tcop-file-upload-11" type="file">
						</div>
					</div>
					<!-- end of conditional -->
				</div>

				<hr style="margin-top: 60px; margin-bottom: 60px;">
			</div>

			<!-- point 12 -->
			<div class="govuk-form-group">
				<a id="tcop-12"></a>
				<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
					<h1 class="govuk-heading-m">
						12. Make your technology sustainable
					</h1>
				</legend>
				<div id="hint" class="govuk-hint">
					Increase sustainability throughout the lifecycle of your technology. 
				</div>
				<p>
					<a href="https://www.gov.uk/guidance/make-your-technology-sustainable" target="blank">
						Read more about TCoP point 12 - Make your technology sustainable.
					</a>
				</p>

				<div class="govuk-checkboxes" data-module="govuk-checkboxes">
					<div class="govuk-checkboxes__item">
						<input class="govuk-checkboxes__input" id="tcop-12" name="tcop-12" type="checkbox" value="tcop-12"
							data-aria-controls="digital-tech-TCOP-opt-12">
						<label class="govuk-label govuk-checkboxes__label" for="tcop-12">
							Select if this criteria is relevant to your spend control
						</label>
					</div>
					<!-- conditional item 1 -->
					<div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="digital-tech-TCOP-opt-12">
						<div class="govuk-form-group">
							<div id="hint" class="govuk-hint">
								Describe how you have met this point
							</div>
							
							<div class="govuk-form-group">
								<textarea class="govuk-textarea" id="tech-cop-point-12" 
											name="tech-cop-point-12" 
											rows="5">{{ data['tech-cop-point-12'] }}</textarea>
							</div>
							<label class="govuk-label" for="tcop-file-upload-12">
								Upload a file
							</label>
							<input class="govuk-file-upload" id="tcop-file-upload-12" name="tcop-file-upload-12" type="file">
						</div>
					</div>
					<!-- end of conditional -->
				</div>

				<hr style="margin-top: 60px; margin-bottom: 60px;">
			</div>

			<!-- point 13 -->
			<div class="govuk-form-group">
				<a id="tcop-13"></a>
				<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
					<h1 class="govuk-heading-m">
						13. Meet the Service Standard
					</h1>
				</legend>
				<div id="hint" class="govuk-hint">
					If you’re building a service as part of your technology project or programme 
					you will also need to meet the <a href="https://www.gov.uk/service-manual/service-standard"b target="blank">Service Standard</a>. 
				</div>
				<p>
					<div id="hint" class="govuk-hint">
						Describe how you have met this point
					</div>
				</p>

				<div class="govuk-checkboxes" data-module="govuk-checkboxes">
					<div class="govuk-checkboxes__item">
						<input class="govuk-checkboxes__input" id="tcop-13" name="tcop-13" type="checkbox" value="tcop-13"
							data-aria-controls="digital-tech-TCOP-opt-13">
						<label class="govuk-label govuk-checkboxes__label" for="tcop-13">
							Select if this criteria is relevant to your spend control
						</label>
					</div>
					<!-- conditional item 1 -->
					<div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="digital-tech-TCOP-opt-13">
						<div class="govuk-form-group">
							<div id="hint" class="govuk-hint">
								Describe how you have met this point
							</div>
							
							<div class="govuk-form-group">
								<textarea class="govuk-textarea" id="tech-cop-point-13" 
											name="tech-cop-point-13" 
											rows="5">{{ data['tech-cop-point-13'] }}</textarea>
							</div>
							<label class="govuk-label" for="tcop-file-upload-13">
								Upload a file
							</label>
							<input class="govuk-file-upload" id="tcop-file-upload-13" name="tcop-file-upload-13" type="file">
						</div>
					</div>
					<!-- end of conditional -->
				</div>

				<hr style="margin-top: 60px; margin-bottom: 60px;">
			</div>


			<div class="govuk-form-group" style="padding-top: 60px; margin-bottom: 10px;">
				<button class="govuk-button" data-module="govuk-button">
					Save and continue
				</button>
				<button class="govuk-button govuk-button--secondary" data-module="govuk-button"
						style="margin-left: 20px;">
					Save and quit
				</button>
			</div>
			<div class="govuk-form-group">
				<p>
					When you click 'Save and quit', you will return to the Task List page. From there, you can see the sections you have yet to start, have started, or have completed.
				</p>
			</div>
		</form>
	</div>
	<div class="govuk-grid-column-one-third">
		<h1 class="govuk-heading-m">
			Who to contact for help
		</h1>
		<p class="govuk-body-l">
			Standards Assurance Team
			<a href="mailto:gdsapprovals@digital.cabinet-office.gov.uk">
				gdsapprovals@digital.cabinet-office.gov.uk
			</a>
		</p>
		<p>
			You can email for help with: implementing the Technology Code of Practice, designing an 
			appropriate strategy for breaking up large systems and services, evaluating the 
			maturity of the technology market you want to buy from, identifying opportunities to 
			use common government platforms and components.
		</p>

		<p class="govuk-body-l">
			Crown Commercial Service
			<a href="mailto:info@crowncommercial.gov.uk">
				info@crowncommercial.gov.uk
			</a>
		</p>
		<p>
			You can email for help with buying commodity services through procurement frameworks
		</p>

		<p class="govuk-body-l">
			Technology Policy Team
			<a href="mailto:technology-policy@digital.cabinet-office.gov.uk">
				technology-policy@digital.cabinet-office.gov.uk
			</a>
		</p>
		<p>
			You can give feedback to the Technology Policy team or ask questions about the Technology Code of Practice.
		</p>
	</div>

	</div>
</div>

{% endblock %}