{% extends "layout.html" %}

{% block pageTitle %}
  Cabinet Office Spend Controls
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Digital and technology spend control
      </h1>

		<p class="govuk-body govuk-!-margin-bottom-7">
			You have completed 0 of 5 sections.
		</p>

          <ul class="app-task-list__items" style="padding: 0px;">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="request-key-contacts" aria-describedby="eligibility-status" class="govuk-link--no-visited-state">
                  Key contacts
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Not started</strong>
				<br />
				<p style="margin-top: 10px;">
					Provide the details of people who you'd like copied into communications about this case.
				</p>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="request-spend-details-approvals" aria-describedby="read-declaration-status" class="govuk-link--no-visited-state">
                  Spend details and approvals
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="read-declaration-status">Not started</strong>
				<br />
				<p style="margin-top: 10px;">
					Provide details of this spend, including the stage of delivery and any existing approvals.
				</p>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="request-digital-tech-about-project" aria-describedby="read-declaration-status" class="govuk-link--no-visited-state">
                  About the project
                </a>
				</span>
				<strong class="govuk-tag app-task-list__tag" id="read-declaration-status">Not started</strong>
				<br />
				<p style="margin-top: 10px;">
					Provide more information about the background and aims of this project.
				</p>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="digital-tech-cost-breakdown-1" aria-describedby="read-declaration-status" class="govuk-link--no-visited-state">
                  Cost breakdown
                </a>
				</span>
				<strong class="govuk-tag app-task-list__tag" id="read-declaration-status">Not started</strong>
				<br />
				<p style="margin-top: 10px;">
					Provide the financial details of the proposed spend, including proposed benefits.
				</p>
            </li>
            <li class="app-task-list__item">
				<span class="app-task-list__task-name">
					<a href="digital-tech-code-practice" aria-describedby="read-declaration-status" class="govuk-link--no-visited-state">
						Technology Code of Practice
					</a>
				</span>
				<strong class="govuk-tag app-task-list__tag" id="read-declaration-status">Not started</strong>
				<br />
				<p style="margin-top: 10px;">
					Provide evidence that your project is in line with the Technology Code of Practice (TCoP).
				</p>
            </li>
          </ul>

		<p class="govuk-body govuk-!-margin-bottom-7">
			Once all the sections have been completed, you will be able 
			to submit your spend control case for approval.
		</p>

		<div class="govuk-form-group" style="padding-top: 30px; margin-bottom: 10px;">
			<a href="requesting-digital-tech-check-your-answers">
				<button class="govuk-button" data-module="govuk-button">
					Check your answers
				</button>
			</a>
		</div>

    </div>
  </div>



{% endblock %}
