{% extends "layout.html" %}

{% block pageTitle %}
  Cabinet Office Spend Controls
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
<a href="digital-tech-task-list" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<!-- main -->
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

		<span class="govuk-caption-xl">
			Step 1 of 2
		</span>
		<h1 class="govuk-heading-xl">
			Cost breakdown
		</h1>
	</div>
</div>
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

		<div class="govuk-form-group">
			<fieldset class="govuk-fieldset" aria-describedby="hint">
				<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
					<h1 class="govuk-fieldset__heading">
						Add all associated costs against each year of the project
					</h1>
				</legend>
				<div id="hint" class="govuk-hint">
					Supporting text here
				</div>
				
				<div class="govuk-form-group">

					{% if data['costs'].length === 0 or data['costs'] == undefined %}

					<div class="govuk-warning-text">
						<span class="govuk-warning-text__icon" aria-hidden="true">!</span>
						<strong class="govuk-warning-text__text">
							<span class="govuk-warning-text__assistive">Warning</span>
							You haven't entered any costs yet.
						</strong>
					</div>
						
					{% else %}

					<!-- accordion -->
					<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
						{% for cost in data['costs'] %}
						<div class="govuk-accordion__section ">
							<div class="govuk-accordion__section-header">
								<h2 class="govuk-accordion__section-heading">
									<span class="govuk-accordion__section-button" id="accordion-default-heading-1">
										<div class="govuk-grid-column-one-half" style="width: 200px;">
											{{ cost[0] }}
										</div>
										 
										<div class="govuk-grid-column-one-half" style="width: 200px;">
											{{ cost[13] }}
										</div>
									</span>
								</h2>
							</div>
							<div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
								<!-- approved spend -->
								<div class="govuk-form-group">
									<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
										<h1 class="govuk-fieldset__heading">
											Approved spend brought forward (optional)
										</h1>
									</legend>
									<div id="hint" class="govuk-hint">
										Help text here
									</div>
									<div class="govuk-input__wrapper">
										<div class="govuk-input__prefix" aria-hidden="true">£</div>
										<input class="govuk-input govuk-input--width-10" id="approved-spend-amount" 
												name="approved-spend-amount" type="text" value="{{ cost[1] }}">
									</div>
								</div>

								<div class="govuk-form-group">
									<div id="hint" class="govuk-hint">
										Describe the approved spend brought forward (optional).
									</div>
									<textarea class="govuk-textarea" id="approved-spend-description" name="approved-spend-description" 
											rows="5" aria-describedby="more-detail-hint">{{ cost[2] }}</textarea>
								</div>


								<!-- tech capital expenditure -->
								<div class="govuk-form-group">
									<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
										<h1 class="govuk-fieldset__heading">
											Technology - Capital expenditure (optional)
										</h1>
									</legend>
									<div id="hint" class="govuk-hint">
										Help text here
									</div>
									<div class="govuk-input__wrapper">
										<div class="govuk-input__prefix" aria-hidden="true">£</div>
										<input class="govuk-input govuk-input--width-10" id="tech-capital-amount" 
												name="tech-capital-amount" type="text" value="{{ cost[3] }}">
									</div>
								</div>

								<div class="govuk-form-group">
									<div id="hint" class="govuk-hint">
										Describe the technology capital expenditure (optional).
									</div>
									<textarea class="govuk-textarea" id="tech-capital-description" name="tech-capital-description" 
											rows="5" aria-describedby="more-detail-hint">{{ cost[4] }}</textarea>
								</div>


								<!-- tech operational expenditure -->
								<div class="govuk-form-group">
									<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
										<h1 class="govuk-fieldset__heading">
											Technology operational expenditure (optional)
										</h1>
									</legend>
									<div id="hint" class="govuk-hint">
										Help text here
									</div>
									<div class="govuk-input__wrapper">
										<div class="govuk-input__prefix" aria-hidden="true">£</div>
										<input class="govuk-input govuk-input--width-10" id="tech-operational-amount" 
												name="tech-operational-amount" type="text" value="{{ cost[5] }}">
									</div>
								</div>

								<div class="govuk-form-group">
									<div id="hint" class="govuk-hint">
										Describe the technology operational expenditure (optional).
									</div>
									<textarea class="govuk-textarea" id="tech-operational-description" name="tech-operational-description" 
											rows="5" aria-describedby="more-detail-hint">{{ cost[6] }}</textarea>
								</div>


								<!-- nontech capital expenditure -->
								<div class="govuk-form-group">
									<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
										<h1 class="govuk-fieldset__heading">
											Non-technology operational expenditure (optional)
										</h1>
									</legend>
									<div id="hint" class="govuk-hint">
										Help text here
									</div>
									<div class="govuk-input__wrapper">
										<div class="govuk-input__prefix" aria-hidden="true">£</div>
										<input class="govuk-input govuk-input--width-10" id="nontech-operational-amount" 
												name="nontech-operational-amount" type="text" value="{{ cost[7] }}">
									</div>
								</div>

								<div class="govuk-form-group">
									<div id="hint" class="govuk-hint">
										Describe the non-technology operational expenditure (optional).
									</div>
									<textarea class="govuk-textarea" id="nontech-operational-description" name="nontech-operational-description" 
											rows="5" aria-describedby="more-detail-hint">{{ cost[8] }}</textarea>
								</div>


								<!-- exit costs -->
								<div class="govuk-form-group">
									<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
										<h1 class="govuk-fieldset__heading">
											Transition exit costs (optional)
										</h1>
									</legend>
									<div id="hint" class="govuk-hint">
										Help text here
									</div>
									<div class="govuk-input__wrapper">
										<div class="govuk-input__prefix" aria-hidden="true">£</div>
										<input class="govuk-input govuk-input--width-10" id="exit-costs-amount" 
												name="exit-costs-amount" type="text" value="{{ cost[9] }}">
									</div>
								</div>

								<div class="govuk-form-group">
									<div id="hint" class="govuk-hint">
										Describe the transition exit costs (optional).
									</div>
									<textarea class="govuk-textarea" id="exit-costs-description" name="exit-costs-description" 
											rows="5" aria-describedby="more-detail-hint">{{ cost[10] }}</textarea>
								</div>


								<!-- value requested -->
								<div class="govuk-form-group">
									<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
										<h1 class="govuk-fieldset__heading">
											Value requested now (optional)
										</h1>
									</legend>
									<div id="hint" class="govuk-hint">
										Help text here
									</div>
									<div class="govuk-input__wrapper">
										<div class="govuk-input__prefix" aria-hidden="true">£</div>
										<input class="govuk-input govuk-input--width-10" id="value-requested-amount" 
												name="value-requested-amount" type="text" value="{{ cost[11] }}">
									</div>
								</div>

								<div class="govuk-form-group">
									<div id="hint" class="govuk-hint">
										Describe the value requested now (optional).
									</div>
									<textarea class="govuk-textarea" id="value-requested-description" name="value-requested-description" 
											rows="5" aria-describedby="more-detail-hint">{{ cost[12] }}</textarea>
								</div>

							</div>
						</div>
						{% endfor %}
					</div>

					{% endif %}

					<a href="sending-add-new-cost">
						{% if data['costs'].length === 0 or data['costs'] == undefined %}
						<button class="govuk-button govuk-button--secondary" data-module="govuk-button">
							Add a year of costs
						</button>
						{% else %}
						<button class="govuk-button govuk-button--secondary" data-module="govuk-button">
							Add another year of costs
						</button>
						{% endif %}
					</a>

				</div>
			</fieldset>
		</div>

		<div class="govuk-form-group" style="padding-top: 30px; margin-bottom: 10px;">
			<button class="govuk-button" data-module="govuk-button">
					Save and continue
			</button>
			<button class="govuk-button govuk-button--secondary" data-module="govuk-button"
					style="margin-left: 20px;">
					Save and quit
			</button>
		</div>
		<div class="govuk-form-group" ">
		<p>
				Save and quit will return you to the sections-to-complete list
		</p>
	</div>

</div>
</div>

{% endblock %}