{% extends "layout.html" %}

{% block pageTitle %}
  Cabinet Office Spend Controls
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
<a href="sending-spend-details-approvals-3"
   class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<!-- main -->
<div class="govuk-width-container">
	<main class="govuk-main-wrapper " id="main-content" role="main">
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-full">

				<h1 class="govuk-heading-l">Check your answers before sending your application</h1>

				<h2 class="govuk-heading-m">Your details</h2>

				<dl class="govuk-summary-list govuk-!-margin-bottom-9">
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Full name
						</dt>
						<dd class="govuk-summary-list__value">
							{% if data['full-name'] != '' and data['full-name'] != defined %}
								{{ data['full-name'] }}
							{% else %}
								You need to provide a full name.
							{% endif %}
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="#">
								Change								
								<span class="govuk-visually-hidden">full name</span>
							</a>
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Department
						</dt>
						<dd class="govuk-summary-list__value">
							{% if data['department'] != '' %}
								{{ data['department'] }}
							{% else %}
								You need to provide a department.
							{% endif %}
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="#">
								Change								
								<span class="govuk-visually-hidden">department</span>
							</a>
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Role
						</dt>
						<dd class="govuk-summary-list__value">
							{% if data['role'] != '' %}
								{{ data['role'] }}
							{% else %}
								You need to provide a department.
							{% endif %}
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="#">
								Change										
								<span class="govuk-visually-hidden">department</span>
							</a>
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Phone number
						</dt>
						<dd class="govuk-summary-list__value">
							{% if data['phone-number'] != '' %}
								{{ data['phone-number'] }}
							{% else %}
								You need to provide a telephone number.
							{% endif %}
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="#">
								Change										
								<span class="govuk-visually-hidden">telephone number</span>
							</a>
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Email
						</dt>
						<dd class="govuk-summary-list__value">
							{% if data['email'] != '' %}
								{{ data['email'] }}
							{% else %}
								You need to provide an email.
							{% endif %}
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="#">
								Change										
								<span class="govuk-visually-hidden">email address</span>
							</a>
						</dd>
					</div>
				</dl>

				<h2 class="govuk-heading-m">Your project's details</h2>

				<dl class="govuk-summary-list govuk-!-margin-bottom-9">
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Reference number
						</dt>
						<dd class="govuk-summary-list__value">
							dt43954589dsj
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="#">
								Change										
								<span class="govuk-visually-hidden">reference number</span>
							</a>
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Project title
						</dt>
						<dd class="govuk-summary-list__value">
							{% if data['spend-title'] != '' and data['spend-title'] != defined %}
								{{ data['spend-title'] }}
							{% else %}
								You need to provide a title for the spend.
							{% endif %}
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="#">
								Change										
								<span class="govuk-visually-hidden">spend title</span>
							</a>
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Description of spend
						</dt>
						<dd class="govuk-summary-list__value">
							{% if data['spend-description'] != '' and data['spend-description'] != defined %}
								{{ data['spend-description'] }}
							{% else %}
								You need to provide a description of the spend.
							{% endif %}
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="#">
										Change										
								<span class="govuk-visually-hidden">spend description</span>
							</a>
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Area of spend
						</dt>
						<dd class="govuk-summary-list__value">
							{% if data['spend-type'] != '' and data['spend-type'] != defined %}
								{{ data['spend-type'] }}
							{% else %}
								You need to provide a spent type.
							{% endif %}
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="#">
								Change										
								<span class="govuk-visually-hidden">area of spend</span>
							</a>
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Commercial assurance needed?
						</dt>
						<dd class="govuk-summary-list__value">
							{% if data['commercial-assurance'] != '' and data['commercial-assurance`'] != defined %}
								{{ data['commercial-assurance'] }}
							{% else %}
								You need to indicate if the spend is over £2 million.
							{% endif %}
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="#">
								Change										
								<span class="govuk-visually-hidden">Is commercial assurance needed</span>
							</a>
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Expected end date
						</dt>
						<dd class="govuk-summary-list__value">
							{% if data['expected-end-date-day'] != '' and data['expected-end-date-day'] != defined %}
								{{ data['expected-end-date-day'] }}.{{ data['expected-end-date-month'] }}.{{ data['expected-end-date-year'] }}
							{% else %}
								You need to provide an end date.
							{% endif %}
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="#">
								Change										
								<span class="govuk-visually-hidden">Expected end date</span>
							</a>
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							All approvals secured?
						</dt>
						<dd class="govuk-summary-list__value">
							{% if data['received-necessary-approvals'] != '' and data['received-necessary-approvals'] != defined %}
								{{ data['received-necessary-approvals'] }}
							{% else %}
								You need to indicate if all approvals have been secured.
							{% endif %}
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="#">
								Change										
								<span class="govuk-visually-hidden">All approvals secured</span>
							</a>
						</dd>
					</div>

				</dl>

				<h2 class="govuk-heading-m">Now send your application</h2>

				<p class="govuk-body">By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

				<form action="/form-handler" method="post" novalidate>

				<input type="hidden" name="answers-checked" value="true">

					<button class="govuk-button" data-module="govuk-button">
								Accept and send
					</button>

				</form>

			</div>
		</div>
	</main>
</div>
{% endblock %}
