 {% extends "layout.html" %}

{% block pageTitle %}
  Cabinet Office Spend Controls
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
<a href="digital-tech-key-contacts-2a" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<!-- main -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

		<h1 class="govuk-heading-xl">
			Add key contacts
		</h1>
	</div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

		<p>
			Add the details of any contacts to be added. Once you have saved them, 
			they will be sent an email automatically to invite them to view this 
			case's details.
		</p>

		<form action="adding-key-contact" method="post">
			<fieldset class="govuk-fieldset">

				<div class="govuk-form-group">
					<label class="govuk-label" for="c-full-name">
						Full name
					</label>
					<input class="govuk-input" id="c-full-name" name="c-full-name" type="text" value="{{ data[''] }}">
				</div>

				<div class="govuk-form-group">
					<label class="govuk-label" for="c-role">
						Role
					</label>
					<input class="govuk-input" id="c-role" name="c-role" type="text" value="{{ data[''] }}">
				</div>

				<div class="govuk-form-group">
					<label class="govuk-label" for="c-phone-number">
						Phone number
					</label>
					<input class="govuk-input" id="c-phone-number" name="c-phone-number" type="text" value="{{ data[''] }}">
				</div>

				<div class="govuk-form-group">
					<label class="govuk-label" for="c-email">
						Email address
					</label>
					<input class="govuk-input" id="c-email" name="c-email" type="text" value="{{ data[''] }}">
				</div>

			</fieldset>

			<div class="govuk-form-group" style="padding-top: 30px;">
				<button class="govuk-button" data-module="govuk-button">
					Save and continue
				</button>
				<button class="govuk-button govuk-button--secondary" data-module="govuk-button"
						style="margin-left: 20px;">
					Save and quit
				</button>
			</div>

		</form>

	</div>
</div>

{% endblock %}
