{% extends "layout.html" %}

{% block pageTitle %}
  Cabinet Office Spend Controls
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
<a href="digital-tech-about-project-9" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<!-- main -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

		<span class="govuk-caption-xl">
			Step 10 of 10
		</span>
		<h1 class="govuk-heading-xl">
			About the project
		</h1>
	</div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

		<form action="sending-about-project-10" method="send">
			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset" aria-describedby="hint">
					<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
						<h1 class="govuk-fieldset__heading">
							How does the proposed technology provide value for money?
						</h1>
					</legend>
					<div id="hint" class="govuk-hint">
						Value for money is a critical part of the spend assurance process. You should be able to explain how your proposed approach offers the best value for money. This doesn't always mean your approach is the cheapest, though if you have chosen a more expensive option you should explain why it is more appropriate than others.
					</div>
					
					<div class="govuk-form-group">
						<textarea class="govuk-textarea" id="digital-tech-tech-value-description" 
									name="digital-tech-tech-value-description" 
									rows="5"></textarea>
					</div>
				</fieldset>
			</div>

			<div class="govuk-form-group" style="padding-top: 30px; margin-bottom: 10px;">
					<button class="govuk-button" data-module="govuk-button">
						Save and continue
					</button>
					<button class="govuk-button govuk-button--secondary" data-module="govuk-button"
							style="margin-left: 20px;">
						Save and quit
					</button>
			</div>
			<div class="govuk-form-group"">
				<p>
					Save and quit will return you to the sections-to-complete list
				</p>
			</div>

		</form>

	</div>
</div>

{% endblock %}