{% extends "layout.html" %}

{% block pageTitle %}
  Cabinet Office Spend Controls
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
<a href="digital-tech-about-project-3" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<!-- main -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

		<span class="govuk-caption-xl">
			Step 4 of 10
		</span>
		<h1 class="govuk-heading-xl">
			About the project
		</h1>
	</div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

		<form action="digital-tech-about-project-5" method="send">

			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset" aria-describedby="hint">
					<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
						<h1 class="govuk-fieldset__heading">
							Approximately how many users are affected by the problem or would like to use your solution?
						</h1>
					</legend>
					<div id="hint" class="govuk-hint">
						Users can either be the public, or, if the service is used by civil servants, the intended audience of the service.
					</div>

					<div class="govuk-grid-column-one-third">
						<div class="govuk-grid-row">
							<div class="govuk-form-group">
								<input class="govuk-input" id="digital-tech-number-people" name="digital-tech-number-people" type="text">
							</div>
						</div>
					</div>

				</fieldset>
			</div>

			<div class="govuk-form-group" style="padding-top: 30px;">
				<fieldset class="govuk-fieldset" aria-describedby="waste-hint">
					<button class="govuk-button" data-module="govuk-button">
						Save and continue
					</button>
					<button class="govuk-button govuk-button--secondary" data-module="govuk-button"
							style="margin-left: 20px;">
						Save and quit
					</button>
				</fieldset>
			</div>

		</form>

	</div>
</div>

{% endblock %}
