{% extends "layout.html" %}

{% block pageTitle %}
  Cabinet Office Spend Controls
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Digital and technology spend control
      </h1>

		<p class="govuk-body govuk-!-margin-bottom-7">
			You have completed 0 of 5 sections.
		</p>

          <ul class="app-task-list__items" style="padding: 0px;">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="request-key-contacts" aria-describedby="eligibility-status" class="govuk-link--no-visited-state">
                  Key contacts
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="request-spend-details-approvals" aria-describedby="read-declaration-status" class="govuk-link--no-visited-state">
                  Spend details and approvals
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="read-declaration-status">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="read-declaration-status" class="govuk-link--no-visited-state">
                  About the project
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="read-declaration-status">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="read-declaration-status" class="govuk-link--no-visited-state">
                  Cost breakdown
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="read-declaration-status">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="read-declaration-status" class="govuk-link--no-visited-state">
                  Technology code of practice
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="read-declaration-status">Not started</strong>
            </li>
          </ul>

		<p class="govuk-body govuk-!-margin-bottom-7">
			Once all the sections have been completed, you will be able 
			to submit your spend control case for approval
		</p>

    </div>
  </div>



{% endblock %}
