{% extends "layout.html" %}

{% block pageTitle %}
  Cabinet Office Spend Controls
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
<a href="sending-spend-details-approvals-3" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<!-- main -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

		<span class="govuk-caption-xl">
			Step 5 of 5
		</span>
		<h1 class="govuk-heading-xl">
			Spend details and approvals
		</h1>
	</div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

		<div class="govuk-form-group">
			<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
				<h1 class="govuk-fieldset__heading">
					Critical dates for your project that we should 
					consider when processing this request
				</h1>
			</legend>
		</div>
		<div class="govuk-form-group">
			<div id="waste-hint" class="govuk-hint">
				This table shows the critical dates for this case. You can add 
				new dates as and when you find out about that, and you can 
				remove any that are incorrect. 
			</div>
		</div>
		<div class="govuk-form-group">
			<div class="govuk-form-group">
				<a href="spend-details-approvals-5b">
					<button class="govuk-button govuk-button--secondary" data-module="govuk-button" style="margin-bottom: 30px">
						Add a new date
					</button>
				</a>
			</div>
		</div>

		<form action="sending-spend-details-approvals-5a" method="send">
			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset" aria-describedby="waste-hint">
					<table class="govuk-table govuk-!-font-size-14">
						<thead class="govuk-table__head">
							<tr class="govuk-table__row">
								<th scope="col" class="govuk-table__header">Date</th>
								<th scope="col" class="govuk-table__header">Event</th>
								<th scope="col" class="govuk-table__header">Action</th>
							</tr>
						</thead>
						<tbody class="govuk-table__body">
							{% if data['critical_events'].length === 0 %}
							<tr class="govuk-table__row">
								<td class="govuk-table__cell">
									You have not entered any dates yet
								</td>
								<td class="govuk-table__cell">
								</td>
								<td class="govuk-table__cell">
								</td>
							</tr>
							{% else %}
							{% for date in data['critical_events'] %}

							<tr class="govuk-table__row">
								<td class="govuk-table__cell">
									{{ date[0] }}
								</td>
								<td class="govuk-table__cell">
									{{ date[1] }}
								</td>
								<td class="govuk-table__cell">
									<a href="#">
										Remove
									</a>
								</td>
							</tr>
							{% endfor %}
							{% endif %}
						</tbody>
					</table>
				</fieldset>
			</div>

			<div class="govuk-form-group" style="padding-top: 30px;">
				<fieldset class="govuk-fieldset" aria-describedby="waste-hint">
					<button class="govuk-button" data-module="govuk-button">
						Save and continue
					</button>
					<button class="govuk-button govuk-button--secondary" data-module="govuk-button"
							style="margin-left: 20px;">
						Save and quit
					</button>
				</fieldset>
			</div>
		</form>

	</div>
</div>

{% endblock %}