{% extends "layout.html" %}

{% block pageTitle %}
  Cabinet Office Spend Controls
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
<a href="sending-spend-details-approvals-2" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<!-- main -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

		<span class="govuk-caption-xl">
			Step 4 of 5
		</span>
		<h1 class="govuk-heading-xl">
			Spend details and approvals
		</h1>
	</div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

		<form action="sending-spend-details-approvals-4" method="send">
			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset" aria-describedby="waste-hint">
					<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
						<h1 class="govuk-fieldset__heading">
							Will this project require a service assessment?
						</h1>
					</legend>
					<div id="waste-hint" class="govuk-hint">
						Supporting text here
					</div>
				<div class="govuk-radios">
					<div class="govuk-radios__item">
						<input class="govuk-radios__input" id="service-assessment-required" name="service-assessment-required" type="radio" 
								value="yes" {{ checked("service-assessment-required", "yes") }}>
						<label class="govuk-label govuk-radios__label" for="service-assessment-required">
							Yes
						</label>
					</div>

					<div class="govuk-radios__item">
						<input class="govuk-radios__input" id="service-assessment-required" name="service-assessment-required" type="radio" 
								value="no" {{ checked("service-assessment-required", "no") }}>
						<label class="govuk-label govuk-radios__label" for="service-assessment-required">
							No
						</label>
					</div>

					<div class="govuk-radios__item">
						<input class="govuk-radios__input" id="service-assessment-required" name="service-assessment-required" type="radio" 
							value="dunno" {{ checked("service-assessment-required", "dunno") }}>
						<label class="govuk-label govuk-radios__label" for="service-assessment-required">
							I don't know
						</label>
					</div>

				</div>

				</fieldset>
			</div>

			<div class="govuk-form-group" style="padding-top: 30px;">
				<fieldset class="govuk-fieldset" aria-describedby="waste-hint">
					<button class="govuk-button" data-module="govuk-button">
						Save and continue
					</button>
					<button class="govuk-button govuk-button--secondary" data-module="govuk-button"
							style="margin-left: 20px;">
						Save and quit
					</button>
				</fieldset>
			</div>

		</form>

	</div>
</div>

{% endblock %}