
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column">
      <h1 class="govuk-heading-xl">
        Spend Control alpha prototype
      </h1>
	   </div>
      <div class="govuk-grid-column-two-thirds">

      <p>
        This contains versions of the spend control prototype for alpha phase 
      </p>

      <p>
      </p>

      <p>
      	Note that versions are in reverse date order (most recent is at the top)
      </p>

      <p>
      </p>

		<h3 class="govuk-heading-s">Version 0.1</h3>
		
		<ul class="govuk-list">
		  <li>
		    <a class="govuk-link" href="v0.1/index">Departments - begin case</a>
		  </li>
		  </li>
		  <li>
		    <a class="govuk-link" href="#"></a>
		  </li>
		  <li>
		    <a class="govuk-link" href="#"></a>
		  </li>
		</ul>

    </div>
  </div>

{% endblock %}
