
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column">
		<div class="govuk-grid-column-full">
			<h1 class="govuk-heading-xl">
				Spend Control alpha prototype
			</h1>
		</div>
	</div>
	<div class="govuk-grid-column-two-thirds">
		<p>
			This contains versions of the spend control prototype for alpha phase 
		</p>
		<p>
			Note that versions are in reverse date order (most recent is at the top)
		</p>

		<div class="govuk-form-group">
			<h3 class="govuk-heading-s">
				Version 1.3 (15 November 2021)
			</h3>
			<p>
				This is a high-fidelity mock-up of changes stemming from results of testing version 1.2. This is a work-in-progress.
			</p>
			<ul class="govuk-list">
				<li>
					<a class="govuk-link" href="https://www.figma.com/file/dASV9JONrU7Mj0xnS3uewu/Cabinet-Office-%7C-Prototypes?node-id=6057%3A23637">
						Cabinet Office - pipeline view
					</a>
				</li>
			</ul>
		</div>


		<div class="govuk-form-group">
			<h3 class="govuk-heading-s">
				Version 1.2 (9 November 2021)
			</h3>
			<p>
				This is the first Heroku-based prototype for detailed usability/summative testing with participants. 
				This includes a mini-iteration of the departmental prototype after some fairly catastrophic failures after the first few sessions.
			</p>
			<ul class="govuk-list">
				<li>
					<a class="govuk-link" href="v0-1/co-index">
						Cabinet Office - pipeline view
					</a>
				</li>
				<li>
					<a class="govuk-link" href="v0-1/co-case-conditions-required">
						Cabinet Office - Conditions
					</a>
				</li>
				<li>
					<a class="govuk-link" href="v0-1/index">
						Departments - begin case and conditions
					</a>
				</li>
				<li>
					<a class="govuk-link" href="https://www.figma.com/file/dASV9JONrU7Mj0xnS3uewu/Cabinet-Office-%7C-Prototypes?node-id=5422%3A11928">
						Tree structure prototype - hi-fidelity wireframes of above
					</a>
				</li>
			</ul>
		</div>

		<div class="govuk-form-group">
			<h3 class="govuk-heading-s">
				Version 1.1 (8 and 10 October 2021)
			</h3>
			<p>
				This is the second high-fidelty prototype for usability/summative testing and exploration of themes with participants. 
			</p>
			<ul class="govuk-list">
				<li>
					<a class="govuk-link" href="https://www.figma.com/file/dASV9JONrU7Mj0xnS3uewu/Cabinet-Office-%7C-Prototypes?node-id=5112%3A177" target="_blank">
						Conditions management (Test 2)
					</a>
				</li>
				<li>
					<a class="govuk-link" href="" target="_blank">
						Dashboard
					</a>
				</li>
				<li>
					<a class="govuk-link" href="https://www.figma.com/file/dASV9JONrU7Mj0xnS3uewu/Cabinet-Office-%7C-Prototypes?node-id=5588%3A20185" target="_blank">
						Tree structure 2
					</a>
				</li>
			</ul>
		</div>

		<div class="govuk-form-group">
			<h3 class="govuk-heading-s">
				Version 1.0 (24 September 2021)
			</h3>
			<p>
				This is the first high-fidelty prototype for the exploration of themes with participants. 
			</p>
			<ul class="govuk-list">
				<li>
					<a class="govuk-link" href="https://www.figma.com/file/dASV9JONrU7Mj0xnS3uewu/Cabinet-Office-%7C-Prototypes?node-id=5588%3A16750" target="_blank">
						Cabinet Office - Conditions management
					</a>
				</li>
				<li>
					<a class="govuk-link" href="https://www.figma.com/file/dASV9JONrU7Mj0xnS3uewu/Cabinet-Office-%7C-Prototypes?node-id=5272%3A9721" target="_blank">
						Dashboard
					</a>
				</li>
				<li>
					<a class="govuk-link" href="https://www.figma.com/file/dASV9JONrU7Mj0xnS3uewu/Cabinet-Office-%7C-Prototypes?node-id=5224%3A7572" target="_blank">
						Tree structure
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>

{% endblock %}
